<h1 class="se-flex se-justify-center">HTML</h1>
<section>
Hyper Text Markup Language (HTML) is the most basic building block of the web. <br>
It describes and defines the content of a webpage along with the basic layout of the webpage. <br>
Other technologies besides HTML is CSS for style and JavaScript for function. 
</section>
<section>
    <h3 id="Tags">Tags</h3>
    <h4>Document Summary / Info</h4>
    <dl>
        <dt>HTML</dt>
        <dd>This tag shows up at the start and end of an HTML document. Also knows as the root element.</dd>
        <dt>head</dt>
        <dd>Contains information about title tags, meta data and links to scripts and style sheets.</dd>
        <dt>body</dt>
        <dd>Include all the content the user will read and see.</dd>
        <dt>meta</dt>
        <dd>Meta data spells out additional info about the page, typically hidden info.</dd>
        <dt>title</dt>
        <dd>Defines the document title that is shown in a browser's title bar or a page's tab.</dd>
    </dl>
    <pre class="se-code">
            <code>
        &lt;html&gt;
           &lt;head&gt;
              &lt;meta charset="utf8"&gt;
              &lt;title&gt;Document title&lt;/title&gt;
           &lt;/head&gt;
          &lt;body&gt;
           &lt;!-- main content --&gt;
          &lt;/body&gt;
        &lt;/html&gt;
            </code>
        </pre>
</section>
<section>
    <h4>Content sectioning</h4>
    <dl>
        <dt>Nav</dt>
        <dd>Defines navigation links</dd>
        <dt>Main</dt>
        <dd>Represent the main content of the document.</dd>
        <dt>Footer</dt>
        <dd>Specifies a footer for a document, usually contains info about the author, copyright and such.</dd>
        <dt>span</dt>
        <dd>Inline section or block container.</dd>
        <dt>h</dt>
        <dd>its for headings and it got 6 levles, h1-h6.</dd>
        <dt>section</dt>
        <dd>Represent a standalone section.</dd>
        <dt>address</dt>
        <dd>Indicates that the enclosed HTML provides contact info for someone.</dd>
        <dt>article</dt>
        <dd>Represent a self-contained composition in a document.</dd>
        <dt>aside</dt>
        <dd>Represents a portion of a document where the content is indirectly related to the documents main content.</dd>
    </dl>
</section>
<section>
    <h4>Text</h4>
    <dl>
        <dt>div</dt>
        <dd>A generic container.</dd>
        <dt>a</dt>
        <dd>Is an anchor that creates hyperlinks.</dd>
        <dt>abbr</dt>
        <dd>Represents an abbreviation or acronym</dd>
        <dt>pre</dt>
        <dd>Represents preformatted text.</dd>
        <dt>code</dt>
        <dd>Displays the text as computer code.</dd>
        <dt>cite</dt>
        <dd>Used to describe a reference.</dd>
        <dt>em</dt>
        <dd>Marks text that has stress emphasis.</dd>
        <dt>i</dt>
        <dd><i>Displays text in italic type.</i></dd>
        <dt>q</dt>
        <dd>Indicates that the text is a short inline quotation.</dd>
        <dt>small</dt>
        <dd><small>makes the text font size one size smaller.</small></dd>
        <dt>strong</dt>
        <dd>The browser render the text as <strong>bold</strong>.</dd>
        <dt>sub</dt>
        <dd>displayed as subscript for solely typographical reasons.</dd>
        <dt>sup</dt>
        <dd>displayed as superscript for solely typographical reasons.</dd>
        <dt>wbr</dt>
        <dd>represent a word-break opportunity.</dd>
        <dt>var</dt>
        <dd>Represent the name of an variable.</dd>
        <dt>blockquote</dt>
        <dd>Indicates that the text is an extended quotation.</dd>
        <dt>p</dt>
        <dd>Represent a paragraph of text.</dd>
        <dt>s</dt>
        <dd>used to <s>strikethrough</s> text.</dd>
        <dt>figcaption</dt>
        <dd>Represent a caption or a legend associated with a figure.</dd>
        <dt>figure</dt>
        <dd>Represent self-contained content.</dd>
        <dt>ins</dt>
        <dd>Represent a range of text that has been added to a document.</dd>
        <dt>Main</dt>
        <dd>Represent the main content of the document.</dd>
    </dl>
</section>    
<section>
    <h4>Scripting</h4>
    <dl>
        <dt>Noscript</dt>
        <dd>Shows an message to the user if script is unsupported or turned of in the browser.</dd>
        <dt>Canvas</dt>
        <dd>For graphics and animations.</dd>
        <dt>template</dt>
        <dd>Mechanism for not to render content when the page is loaded, but can be loaded later using javascript.</dd>
    </dl>
</section>    
</section>
<section>
    <h4>Image & Multimedia</h4>
    <dl>
        <dt>img</dt>
        <dd>Embeds an image into the document.</dd>
        <dt>Area</dt>
        <dd>Defines a hot-spot region on an image. Used only within a map element.</dd>
        <dt>map</dt>
        <dd>Used with area elements to define an image map.</dd>
        <dt>video</dt>
        <dd>Embeds a media player, which supports video playback.</dd>
        <dt>audio</dt>
        <dd>Used to embed sound content.</dd>
        <dt>track</dt>
        <dd>Used as a child of audio and video elements.</dd>
        <dt>iframe</dt>
        <dd>Used to embed another html page into the current page.</dd>
        <dt>svg</dt>
        <dd>Used to define vector-based graphics for the Web.</dd>
        <dt>object</dt>
        <dd>represent an external resource.</dd>
    </dl>
</section>
<section>
    <h4>Lists</h4>
    <dl>
        <dt>ol</dt>
        <dd>Display a numbered list showing order.</dd>
        <dt>ul</dt>
        <dd>Display a bulleted list with no order.</dd>
        <dt>li</dt>
        <dd>Specifies each list item to be bulleted or numbered, depending on if parent is &lt;ol&gt; or &lt;ul&gt;.</dd>
        <dt>form</dt>
        <dd>Reserved for list item definitions/ key value pairs.</dd>
        <dt>dl</dt>
        <dd>Defines a definition list.</dd>
        <dt>dt</dt>
        <dd>Key term.</dd>
        <dt>dd</dt>
        <dd>Value Description.</dd>
    </dl>
    <pre class="se-code">
            <code>
        &lt;ol&gt;
           &lt;li&gt;bread&lt;li&gt;
           &lt;li&gt;butter&lt;li&gt;
           &lt;li&gt;milk&lt;li&gt;
        &lt;ol&gt;
            </code>
        </pre>
    <pre class="se-code">
            <code>
        &lt;ul&gt;
           &lt;li&gt;bread&lt;li&gt;
           &lt;li&gt;butter&lt;li&gt;
           &lt;li&gt;milk&lt;li&gt;
        &lt;ul&gt;
            </code>
        </pre>
    <pre class="se-code">
            <code>
        &lt;dl&gt;
           &lt;dt&gt;milk&lt;dt&gt;
           &lt;dd&gt;white substance you can drink.&lt;dd&gt;
        &lt;dl&gt;
            </code>
        </pre> Ordered list:
    <ol>
        <li>bread</li>
        <li>butter</li>
        <li>milk</li>
    </ol>
    Unordered list:
    <ul>
        <li>bread</li>
        <li>butter</li>
        <li>milk</li>
    </ul>
    Datalist:
    <dl>
        <dt>milk</dt>
        <dd>white substance you can drink.</dd>
    </dl>
</section>
<section>
    <h4>table</h4>
    <dl>
        <dt>table</dt>
        <dd>Contains all table related content.</dd>
        <dt>thead</dt>
        <dd>Header for the information contained in each column underneath.</dd>
        <dt>tbody</dt>
        <dd>Contains the the tables data.</dd>
        <dt>tfoot</dt>
        <dd>Describe the footer content.</dd>
        <dt>tr</dt>
        <dd>Contains the info to be included in a single row of the table.</dd>
        <dt>th</dt>
        <dd>Contains info in a single header item.</dd>
        <dt>td</dt>
        <dd>Contains the actual info or data in a single table cell.</dd>
        <dt>caption</dt>
        <dd>Specifies the caption or title of a table. </dd>
    </dl>
    Table:    
    <table border="1">
        <caption>People info</caption>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Country</th>
        </tr>
        <tr>
            <td>Cato</td>
            <td>33</td>
            <td>Norway</td>
        </tr>
        <tr>
            <td>Ken</td>
            <td>40</td>
            <td>Norway</td>
        </tr>
    </table>
    <pre class="se-code">
            <code>
        &lt;table border="1"&gt;
         &lt;caption&gt;People info&lt;/caption&gt;
           &lt;tr&gt;
             &lt;th&gt;Name&lt;/th&gt;
             &lt;th&gt;Age&lt;/th&gt;
             &lt;th&gt;Country&lt;/th&gt;
           &lt;/tr&gt;
           &lt;tr&gt;
             &lt;td&gt;Cato&lt;/td&gt;
             &lt;td&gt;33&lt;/td&gt;
             &lt;td&gt;Norway&lt;/td&gt;
           &lt;/tr&gt;
           &lt;tr&gt;
             &lt;td&gt;Ken&lt;/td&gt;
             &lt;td&gt;40&lt;/td&gt;
             &lt;td&gt;Norway&lt;/td&gt;
           &lt;/tr&gt;
        &lt;/table&gt; 
            </code>
        </pre>
</section>
<section>
    <h4>Form</h4>
    <dl>
        <dt>form</dt>
        <dd>Creates a form that will operate based on its attributes.</dd>
        <dt>fieldset</dt>
        <dd>Sets the group of fields on the form.</dd>
        <dt>label</dt>
        <dd>A simple field label, telling the user what to enter in each field.</dd>
        <dt>legend</dt>
        <dd>Caption for the Fieldset</dd>
        <dt>input</dt>
        <dd>Attributes that defines the type of information to receive from the user.</dd>
        <dt>output</dt>
        <dd>Container that injects the result of a calculation or outcome of a user action.</dd>
        <dt>summary</dt>
        <dd>Specifies a summary/caption or legend for a details element.</dd>
        <dt>optgroup</dt>
        <dd>Grouping of available options.</dd>
        <dt>option</dt>
        <dd>defines one of the available options in the select.</dd>
        <dt>select</dt>
        <dd>A control that provides a menu of options.</dd>
        <dt>button</dt>
        <dd>defines a clickable button that submit options.</dd>
        <dt>progress</dt>
        <dd>Displays an indicator showing the completion progress.</dd>
    </dl>
    Form:
    <form>
        <fieldset>
            <legend>Personal Information
                <legend>
                    <input type="text" name="firstName" value="" placeholder="First Name">
                    <input type="text" name="lastName" value="" placeholder="Last Name">
                    <button type="submit" value="submit">Submit</button>                   
        </fieldset>
    </form>
    <pre class="se-code">
            <code>
        &lt;form&gt;
          &lt;fieldset&gt;
           &lt;legend&gt;Personal Information&lt;legend&gt;
           &lt;input type="text" name="firstName" value="" placeholder="First Name"&gt;
           &lt;input type="text" name="lastName" value="" placeholder="Last Name"&gt;
          &lt;button type="submit" value="submit">Submit&lt;/button&gt;
          &lt;/fieldset&gt; 
        &lt;/form&gt;
            </code>
        </pre> Checkbox:
    <fieldset>
        <legend>Checkbox</legend>
        <input type="checkbox" checked>
        <input type="checkbox">
        <input type="checkbox"> Allows none, some or all the boxes to be checked at once. Number 1 is checked by default.
    </fieldset>
    <pre class="se-code">
            <code>
    &lt;fieldset&gt;
        &lt;legend&gt;Checkbox&lt;/legend&gt;
        &lt;input type="checkbox" checked&gt;
        &lt;input type="checkbox"&gt;
        &lt;input type="checkbox"&gt;
    Allows none, some or all the boxes to be checked at once. Number 1 is checked by default.
    &lt;/fieldset&gt;
            </code>
        </pre> Radio button:
    <fieldset>
        <legend>Radiobuttons</legend>
        <input type="radio" name="number" checked>
        <input type="radio" name="number">
        <input type="radio" name="number"> Radio buttons only allows one to be checked at the time.
    </fieldset>
    <pre class="se-code">
            <code>
    &lt;fieldset&gt;
        &lt;legend&gt;Radiobuttons&lt;/legend&gt;
        &lt;input type="radio" name="number" checked&gt;
        &lt;input type="radio" name="number"&gt;
        &lt;input type="radio" name="number"&gt;
        Radio buttons only allows one to be checked at the time.
    &lt;/fieldset&gt;
             </code>
        </pre> Text input:
    <fieldset>
        <legend>input text</legend>
        <input type="text" name="" value="name" size="6"> A text type input with "name" as it's default value.
    </fieldset>
    <pre class="se-code">
            <code>
    &lt;fieldset&gt;
        &lt;legend&gt;input text&lt;/legend&gt;
        &lt;input type="text" name="" value="name" size="6"&gt; 
        A text type input with "name" as it's default value.
    &lt;/fieldset&gt;
             </code>
        </pre> Select menu:
    <fieldset>
        <legend>Select</legend>
        <select class="" name="select">
        <option value="select">select one</option>
        <optgroup label="group 1">
            <option value="one">one</option>
             <option value="two">two</option>
        </optgroup>
            <optgroup label="group 2">
             <option value="three">three</option>
             <option value="three">four</option>
        </optgroup>
    </select>
        A select menu with options.
    </fieldset>
    <pre class="se-code">
            <code>
    &lt;fieldset&gt;
        &lt;legend&gt;Select&lt;/legend&gt;
        &lt;select class="" name="select"&gt;
        &lt;option value="select"&gt;select one&lt;/option&gt;
        &lt;optgroup label="group 1"&gt;
           &lt;option value="one"&gt;one&lt;/option&gt;
           &lt;option value="two"&gt;two&lt;/option&gt;
        &lt;/optgroup&gt;
        &lt;optgroup label="group 2"&gt;
            &lt;option value="three"&gt;three&lt;/option&gt;
            &lt;option value="three"&gt;four&lt;/option&gt;
        &lt;/optgroup&gt;
    &lt;/select&gt;
    A select menu with options.
    &lt;/fieldset&gt;
             </code>
        </pre>
</section>
<section>
<h3 id="Attributes">Attributes</h3>
<h4>Many attributes are global, meaning they can be used on any html element.</h4>
    <dl>
        <dt>style</dt>
        <dd>Sets CSS style which will override css previously set. This is a global attribute.</dd>
        <dt>href</dt>
        <dd>The url of a linked resource. Some tags it can be used with is, &lt;a&gt;, &lt;base&gt; and &lt;link&gt;.</dd>
        <dt>src</dt>
        <dd>the url of embeddable content. Some of the tags src is used with is, &lt;audio&gt;, &lt;img&gt; and &lt;video&gt;.</dd>
        <dt>alt</dt>
        <dd>text that shows if an image can't be displayed. Some tags it can be used with is, &lt;img&gt; and &lt;input&gt;.</dd>

        <dt>class</dt>
        <dd>Often used with CSS to style elements. This is a global attribute.</dd>
        <dt>id</dt>
        <dd>Often used with CSS to style a specific element. The value of the attribute have to be unique. This is a global attribute.</dd>
        <dt>Hidden</dt>
        <dd>Prevents rendering of the givene element, while keeping child elements active. This is a global attribute.</dd>
        <dt>height</dt>
        <dd>Specifies the height of the element. Some tags it can be used with is, &lt;img&gt;, &lt;input&gt; and &lt;video&gt;.</dd>
        <dt>draggable</dt>
        <dd>Defines whether the element is draggable. This is a global attribute.</dd>
        <dt>align</dt>
        <dd>Specifies the horizontal alligment of the element. Some of the tags it can be used with is, &lt;caption&gt;, &lt;img&gt; and &lt;table&gt;.</dd>
        <dt>autoplay</dt>
        <dd>The audio or video should play as soon as possible. Can be used with the tags &lt;audio&gt; and &lt;video&gt;.</dd>
        <dt>charset</dt>
        <dd>Declares the character encoding of the page or script. Can be used with the tags &lt;meta&gt; and &lt;script&gt;.</dd>
        <dt>colspan</dt>
        <dd>Defines the number of columns in a text area. Can be used with the tags &lt;td&gt; and &lt;th&gt;.</dd>
        <dt>dir</dt>
        <dd>defines the text direction. This is a global attribute.</dd>
        <dt>download</dt>
        <dd>Indicates that the hyperlink is ment for downloading the resource. Used with the tags &lt;a&gt; and &lt;area&gt;.</dd>
        <dt>for</dt>
        <dd>Describes elements which belongs to this one. Can be used with &lt;label&gt; and &lt;output&gt;.</dd>
        <dt>Loop</dt>
        <dd>Indicates whether the media should start playing from the start when finished. Some of the tags it is used with is &lt;audio&gt; and &lt;video&gt;.</dd>
        <dt>muted</dt>
        <dd>indicates whether the audio should be silenced on page load. Can be used with the tags &lt;audio&gt; and &lt;video&gt;.</dd>
        <dt>preload</dt>
        <dd>Indicates whether the whole, part or nothing of the resource, should be preloaded. Can be used with the tags &lt;audio&gt; and &lt;video&gt;.</dd>
        <dt>spellcheck</dt>
        <dd>Indicates whether spell checking is allowed for the element. This is a global attribute.</dd>
        <dt>type</dt>
        <dd>Defines the type of element. Some of the tags it can be used with is, &lt;button&gt;, &lt;input&gt; and &lt;style&gt;.</dd>
        <dt>value</dt>
        <dd>Defines a default value which will be displayed on page load. Some of the tags it can be used with is, &lt;button&gt;, &lt;input&gt; and &lt;li&gt;.</dd>
        <dt>Title</dt>
        <dd>Text to be displayed in a tooltip when hovering over the element. This is a global attribute.</dd>
        <dt>selected</dt>
        <dd>Defines a value which will be selected on page load. This attribute is ment for the tag &lt;option&gt;.</dd>


        <dt>maxlength</dt>
        <dd>Defines the max number of chars allowed in the element. Can be used with the tags &lt;input&gt; and &lt;textarea&gt;.</dd>
        <dt>minlength</dt>
        <dd>Defines the min number of chars allowed in the element. Can be used with the tags &lt;input&gt; and &lt;textarea&gt;.</dd>
    </dl>
</section>
