<h1 class="se-flex se-justify-center">Micro Patterns</h1>
<section>
<p>Micro patterns are small functions you use over and over again to help you build projects. <br>
 These functions are used so often that they are usually triggered by muscle memmory.</p>
<dl>
<dt>Here is a list of 10 micro patterns you can use.</dt>
<dd>1. Toggle.</dd>
<dd>2. Visibility.</dd>
<dd>3. Transparancy.</dd>
<dd>4. Div.</dd>
<dd>5. Mix phx.server.</dd>
<dd>6. Mix deps.get.</dd>
<dd>7. Mix ecto.create.</dd>
<dd>8. Controller.</dd>
<dd>9. View.</dd>
<dd>10. Section.</dd>
</dl>
</section>