<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Hello SummerExam!!!</title>
  <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
</head>

<body class="se-viewport" style="margin: 0;">
  <div class="se-grid">
    <!--Navbar start-->
    <div class="se-nav se-nav-theme1 flex ">
      <div class="se-flex se-justify-center se-align-center se-text-large se-underline">Summer Exam 2018</div>
      <div class="se-flex se-justify-center se-align-center"> <%= @conn.page %></div> 
    </div>
    <!--Navbar end-->
    <!--sidebar start-->
    <div class="se-sidebar se-sidebar-theme1">
      <div>
        <h3 class="se-text-center">
          <a href="/git">Git</a>
        </h3>
        <ul>
          <li><a href="/git/#Overview">Overview</a></li>
          <li><a href="/git/#Routines">Routines</a></li>
          <li><a href="/git/#Functions">Functions</a></li>
        </ul>
        <h3 class="se-text-center">
          <a href="/frontend/html">HTML</a>
        </h3>
        <ul>
          <li><a href="/frontend/html/#Tags">Tags</a></li>
          <li><a href="/frontend/html/#Attributes">Attributes</a></li>
        </ul>
        <h3 class="se-text-center">
          <a href="/frontend/css">CSS</a>
        </h3>
        <ul>
          <li><a href="/frontend/css#Basics">Basics</a></li>
          <li><a href="/frontend/css#Properties">Properties</a></li>
          <li><a href="/frontend/css#Pseudo-Classes">Pseudo-Classes</a></li>
          <li><a href="/frontend/css#Variables">CSS Variables</a></li>
          <li><a href="/frontend/css#Grid">Grid Layout</a></li>
          <li><a href="/frontend/css#FlexBox">Flex Box</a></li>
          <li><a href="/frontend/css#Animations">Animations</a></li>
        </ul>  
        <h3 class="se-text-center">
          <a href="/frontend/js">JavaScript</a>
        </h3>
        <ul>
          <li><a href="/frontend/js/#variables">Variables and Data</a></li>
          <li><a href="/frontend/js/#Objects">Objects</a></li>
          <li><a href="/frontend/js/#Arrays">Arrays</a></li>
          <li><a href="/frontend/js/#Operators">Operators</a></li>
          <li><a href="/frontend/js/#Functions">Functions</a></li>
          <li><a href="/frontend/js/#Logic">Logic Flow</a></li>
          <li><a href="/frontend/js/#Loops">Loops</a></li>
          <li><a href="/frontend/js/#Scope">Scope</a></li>
          <li><a href="/frontend/js/#Misc">Misc</a></li>
        </ul>  
        <h3 class="se-text-center">
          <a href="/backend/elixir">Elixir</a>
        </h3>
        <ul>
          <li><a href="/backend/elixir#IEX">IEX</a></li>
          <li><a href="/backend/elixir#Mix">Mix</a></li>
          <li><a href="/backend/elixir#Dt">Data Types</a></li>
          <li><a href="/backend/elixir#Operators">Operators</a></li>
          <li><a href="/backend/elixir#Collections">Collections</a></li>
          <li><a href="/backend/elixir#Pm">Pattern Matching</a></li>
          <li><a href="/backend/elixir#Mf">Modules & Functions</a></li>
          <li><a href="/backend/elixir#Recursion">Recursion</a></li>
          <li><a href="/backend/elixirComprehensions">Comprehensions</a></li>
          <li><a href="/backend/elixir#Enum">Enumerable</a></li>
          <li><a href="/backend/elixir#ExUnit">ExUnit</a></li>

        </ul>
        <h3 class="se-text-center">
          <a href="/backend/phoenix">Phoenix</a>
        </h3>
        <ul>
          <li><a href="/backend/phoenix#General">General</a></li>
          <li><a href="/backend/phoenix#Plug">Plug</a></li>
          <li><a href="/backend/phoenix#Ecto">Ecto</a></li>
        </ul>  
        <h3 class="se-text-center">
          <a href="/micro_patterns">Micro Patterns</a>
        </h3>
        <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>  
      <h3 class="se-text-center">
          Blog</a>
        </h3>
        <ul>
          <li><a href="/blog/user">User</a></li>
          <li><a href="/blog/post">Post</a></li>
        </ul>   
      </div>    
    </div>
    <!--sidebar end-->
    <!--content start-->
    <div class="se-middle se-background">
      <main role="main">
      <a href=#top class="se-top">Back to top</a>
        <%= render @view_module, @view_template, assigns %>
      </main>
    </div>
    <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </div>
  <!--content end-->
</body>

</html>
