.se-sidebar dd{
    display: none;
}
/* .se-sidebar input[type="checkbox"]{
    display: none;
} */
.se-sidebar input[type="checkbox"]:checked ~ dd{
    display: block;
}
.se-sidebar input[type="checkbox"] ~ label{
    margin-left: 1em;
    font-size: 1.5em;
}

.se-top{
    position:fixed;
    bottom:40px;
	right:40px;  
}