:root{
    --text-base: #333;
    --text-white: #fafafa;
    --prim: #666699;
    --sec: #393f44;
    --side: #e2ffda;
    --background: #ececed;
    --back: #fafafa;
    --success: #3f9c35;
    --info: #007a87;
    --warning: #ec7a08;
    --danger: #b30000;
    --black: #0c0c0c;
    --grey: #7888;
    --white: #fafafa;
    --muted: #999;
    --divider: #d8d8d8;
}

.se-nav-theme{
    background-color: var(--prim);
}
.se-sidebar-theme{
    background-color: var(--side);
    color: var(--text-white);
}
.se-background{
    background: var(--background);
    color: var(--text-base);
}
.se-nav-theme1{
    background: linear-gradient(var(--prim), var(--side));
}
.se-sidebar-theme1{
    background: linear-gradient(var(--side), var(--prim));
    color: var(--text-base);
}
.se-background1{
    background: linear-gradient(var(--grey), var(--background));
    color: var(--text-base);
}    