/* CSS for demonstration purposes */
/* Variables */ 
:root{
    --warning: #ec7a08;
    --text-base: #333;
    --myPadding: 1em;
    --myMargin: 2em;
    --myBorder: solid 2px black;
}
     
#aaa{background: var(--warning);}
#bbb{color: var(--text-base);}
#ccc{padding: var(--myPadding);}
#abc{margin: var(--myMargin);}
#cba{border: var(--myBorder);}

.colr{
    background-color: red;
    border: solid 1px black;
}
.colr1{
    background-color: blue;
    border: solid 1px black;
}
.colr2{
    background-color: green;
    border: solid 1px black;
}
.colr3{
    background-color: yellow;
    border: solid 1px black;
}
.colr4{
    background-color: purple;
    border: solid 1px black;
}
.colr5{
    background-color: orange;
    border: solid 1px black;
}


/* Flexbox */

.se-box-model{
    display: flex;   
}
.se-square-out{
 align-items: center; 
 justify-content: center;  
 width: 200px;
 height: 200px;
 display: flex;
 background-color: red;
 border: solid black;
}
.se-square-out:hover{
    background-color: wheat;
}    
.se-square-middle{
align-items: center; 
justify-content: center; 
width: 150px;
height: 150px;
display: flex;
background-color: green; 
border: solid black;
}
.se-square-middle:hover{
    background-color: wheat;
}    
.se-square-inner{
align-items: center; 
justify-content: center; 
width: 100px;
height: 100px;
display: flex;
background-color: blue;
border: solid black;
}
.se-square-inner:hover{
    background-color: wheat;
}    
.se-square-center{
width: 50px;
height: 50px;
display: flex;
background-color: yellow;
border: solid black;
}
.se-square-center:hover{
    background-color: wheat;
}    
/*boxe's*/
.se-box-demo{
    width: 100px;
    height:100px;
}
.se-box1-demo{
    width: 200px;
    height:200px;   
}
.se-demo-box{
    display: flex;
    flex-direction: row;
    width:50px;
    height: auto;
}
.se-demo-box1{
    width:auto;
    height: 70px;
}
.se-demo-box2{
    width:90px;
    height: 90px;
}

/* Borders*/
.se-demo-border{
    border: solid 3px black;
}
/*margin classes*/
.se-demo-margin{
    margin: 1em;
}
.se-demo-margin-bottom{
    margin-bottom: 2em;
}

/*grid*/
.se-grid-demo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .se-grid1-demo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
.se-nav-demo{
    display: grid;
    grid-area: 2 / 1 / 1 / end;
}
.se-main-demo{
    display: grid;
    grid-area: 2 / 1 / 6 / end;
} 
.se-footer-demo{
    display: grid;
    grid-area: 6 / 1 / 6 / end;
}
/* Animations */

  .se-element {
    height: 50px;
    width: 50px;
    margin: 0 auto;
    background-color: red;
    animation-name: stretch;
    animation-duration: 1.5s; 
    animation-timing-function: ease-out; 
    animation-delay: 0;
    animation-direction: initial;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
    animation-play-state: running;
    transition-delay: 20ms;
}
  .se-element1 {
    height: 50px;
    width: 50px;
    margin: 0 auto;
    background-color: blue;
    animation-name: stretch;
    animation-duration: 1.5s; 
    animation-timing-function: ease-out; 
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
    
  }
  @keyframes stretch {
    0% {
      transform: scale(.3);
      background-color: red;
      border-radius: 100%;
    }
    50% {
      background-color: orange;
    }
    100% {
      transform: scale(1.5);
      background-color: yellow;
    }
  }
  .se-bakgrunn {
    width: 50px;
    height: 50px;
    animation: pulse 2s infinite;
  }
  
  @keyframes pulse {
    0% {
      background-color: blue;
    }
    100% {
      background-color: red;
    }
  }
  /* sliding underline*/
  .se-sliding-middleOut:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}
/*Hovering Over*/  
.se-sliding-middleOut:hover:after {
    width: 100%;
    background: blue;
}
  
  

