/* Viewport container*/
.se-viewport{
    height: 98vh;
    width: 98vw;
}

/*grid*/
.se-grid{
    display:grid;
    grid-template-rows: 6vw 1fr;
    grid-template-columns: 30vh 1fr;
    min-height: 98vh;
}
.se-nav{
  display:grid;
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  height:100%;
}
.se-sidebar{
  display:grid;
  grid-row: 2 / end;
  grid-column: 1 / 2;
  /* height:100%; */
}
.se-middle{
  display:grid;
  grid-row:2 / 3;
  grid-column: 2 / 4;
  height:100%;
}
/* Flex */
.se-flex{
display:flex;
}
.se-flex-row{
  display:flex;
  flex:row;
  }
.se-flex-dir-col{flex-direction:column;}
/* Align items*/
.se-align-center{align-items: center;}
.se-align-start{align-items: flex-start;}
.se-align-end{align-items: flex-end;}
.se-align-stretch{align-items: stretch;}
.se-align-baseline{align-items: baseline;}
/* Align items end*/

/* Justify content*/
.se-justify-center{justify-content: center;}
.se-justify-start{justify-content: start;}
.se-justify-end{justify-content: end;}
.se-justify-between{justify-content: space-between;}
.se-justify-around{justify-content: space-around;}
.se-justify-evenly{justify-content: space-evenly;}
/* Justify content end*/
/* text align*/
.se-texta{
  text-align: center;
}
