/*Containers*/
.se-custom-Table-container{
    max-width:70%;
    height:auto;
    display: flex;

  }
  /*Containers end*/
  .se-tables{
    border-collapse: collapse;
  }
  .se-tables th, .se-tables td{
    border:solid 1px black;
    padding:0.5em;
    text-align: center;
  }
  .se-custom-table-position{width:100%;}
  /*classes*/
  .se-tables tr:nth-child(odd){background-color: var(--divider)}
  /*when hovering over table rows*/
  .se-tables tr:hover{
    background-color: var(--grey);
    color: var(--text-base);
  }
  
  
  /*classes end*/
  
  
  
  /*change size of each row*/
  .se-table-row-padding-05{
    padding-top:0.5em;
    padding-bottom:0.5em;
  }
  .se-table-row-padding-1{
    padding-top: 1em;
    padding-bottom:1em;
  }
  .se-table-row-padding-2{
    padding-top:1.5em;
    padding-bottom:1.5em;
  }