/* Font-size */
.se-text-small {
    font-size: 0.84rem;
    line-height: 1.5;
}
.se-text-large {
    font-size: 1.5rem;
    line-height: 1.5;
}
/* Text-Decoration Lines */
.se-overline{ text-decoration: overline;}
.se-underline{ text-decoration: underline;}
.se-linetrough{ text-decoration: line-through;}


.se-text-center {text-align: center}