/* dropdown*/
.se-dropdown{display:block; z-index: 999; background: white; width: 15%;}
.se-dropdown dd{display: none;}
.se-dropdown:hover dd{display: block}
/* dropdown end*/

/*margin classes*/
.se-middle dl{
    margin: 2em;
}
.se-middle p{margin: 0em 0em 0em 2.5em;}
.se-r-1{margin: 0em 0em 0em 1em;}
.se-middle fieldset{
    margin: 2em;
    width: 50%;
}
/* top */
.se-t-1{margin-top: 1em;}
/* bottom */
.se-b-1{margin-bottom: 1em;}

/* overflow scroll */
.se-overflow-scroll{overflow: scroll ;}
.se-overflow-scroll-y{overflow-y: scroll ;}
/* overflow hidden */
.se-overflow-hidden{ overflow: hidden;}
/*Code windows */
.se-terminal{
    background-color: black;
    color: rgb(59, 228, 59);
	border-left:solid 3px green;
    padding-left: 0.5em;
    margin-left: 3em;
    width: 70%;
}
.se-terminal1{
    background-color: black;
    color: rgb(247, 40, 40);
	border-left:solid 3px green;
    padding-left: 0.5em;
    margin-left: 3em;
    width: 70%;
}
.se-code{
    background-color: white;
    color: black;
	border-left:solid 3px black;
    padding-left: 0.5em;
    margin-left: 3em;
    width: 70%;
}
/* Borders */
.se-border{
    border: solid 2px black;
}
.se-middle section{
    border-bottom: thick double grey;
    width: 94%;
    margin: 3em;   
}
.se-middle dt{
   color: red;
   
}
/*boxes*/
.se-box{
    width: 3em;
    height: 3em;
    background-color: var(--info);
}
.se-box1{
    width: 4em;
    height: 4em;
    background-color: var(--warning);
}
.se-box2{
    width: 5em;
    height: 5em;
    background-color: var(--danger);
}