<h1 class="se-flex se-justify-center">JavaScript</h1>
<Section>
<p>Now that we are done with the 2 first parts of explaining a html document, html and css. It's time for the third, Javascript. <br>
Javascript is a scripting language, primarly used on the web to enhance HTML pages. commonly found embedded in html code, <br>
 or in a seprate javascript file that is called from within a script element enclosed in &lt;script&gt; tags. </p>
<h3 id="Variables">Variables and Data</h3>
<h4>Variable</h4>
<dl>
<dt>var</dt>
<dd>var = value. That is how you declare a variable. <br>
 A variable is just a container for a value, Keep in mind that the value the variabel holds can change.</dd>
</dl>
<h4>Data types</h4>
<dl>
<dt>string</dt>
<dd>Is used to represent textual data, you define a string using double quotes " " or single quotes ' '.</dd>
<dd>var car = "Audi", will asign the string value "Audi" to the variable car. </dd>
<dt>number</dt>
<dd>Is used to represent number data.</dd>
<dd>var number = 2, will asign the number value 2 to the varibale number.</dd>
<dt>bolean</dt>
<dd>Represents a logical enitity, and can only have two values. True or False.</dd>
<dd>4&lt;2 = false. Checks if 2 is greater then 4, returns false.</dd>
<dd>4&gt;2 = true. Checks if 4 is greater then 2, returns true. </dd>
</dl>
<h3 id="Objects">Objects</h3>
<dl>
<dt>object</dt>
<dd>Objects are containers holding key value pairs, seprated with commas. Objects can hold all types of data types, <br>
 and you define a object using curly brackets { }.</dd>
<dd>Objects are used to store linked data as a single variable, But unlike a list you can address each field by using its keyname.</dd> 
</dl>
<pre class="se-code">
    <code>
var me =
    {id: 1,
    firstName: "Cato",
     lastName: "Steivang",
     age: 33, country: "Norway",
     family: ["Siri", "Odin", "Emilie"]}

    me.family.forEach(function(item){console.log(item);})
    </code>
</pre>    
<button type="button" name="button" onclick="me()">Test</button>
output:
<pre class="se-code">
    <code>
<div id="me"></div>
 </code>
</pre> 
<h3 id="Arrays">Arrays</h3>
<dl></dl>
<dt>array</dt>
<dd>Is a list of items, separated with commas. You define an array using square brackets [ ].</dd>
<dd>You can iterate over a list using JavaScript.</dd>
</dl>
<pre class="se-code">
    <code>
var people = ["Cato", "Ken", "Paul"]

    people.forEach(function(item){console.log(item);})
    </code>
</pre>    
<button type="button" name="button" onclick="people()">Test</button>
output:
<pre class="se-code">
    <code>
<div id="people"></div>
 </code>     
</Section>
<Section>
<h3 id="Operators">Operators</h3>
<h4>Arithmetic Operators</h4>
<dl>
<dt>+</dt>
<dd>This operator is for addition, for example 2 + 2 = 4 or "cato" + " " + "steivang" = "cato steivang".</dd>
<dt>-</dt>
<dd>This operator is for subtraction, for example 3 - 2 = 1.</dd>
<dt>*</dt>
<dd>This operator is for multiplication, for example 2 * 2 = 4.</dd>
<dt>/</dt>
<dd>This operator is for division, for example 10 / 2 = 5.</dd>
<dt>%</dt>
<dd>This operator is for Modulus, and returns the remainder after a division. for example 9 % 5 = 4.</dd>
<dt>++</dt>
<dd>This operator is for increments, for example adds 1 to the value of x: if x = 1 then x++ results in x being 2. equal to x = 1 + 1.  </dd>
<dt>--</dt>
<dd>This operator is for decrements, for example subtracts 1 from the value of x: if x = 2 then x-- results in x being 1. equal to x = 2 - 1.</dd>
</dl>
<h4>Assignment Operators</h4>
<dl>
<dt>=</dt>
<dd>Assigns a value to a variable, for example x = 4.</dd>
<dt>+=</dt>
<dd>Assigns the value of x + y to the variable. for example x += y, meaning x = x + y.</dd>
<dt>-=</dt>
<dd>Assigns the value of x - y to the variable. for example x -= y, meaning x = x - y.</dd>
<dt>*=</dt>
<dd>Assigns the value of x * y to the variable. for example x *= y, meaning x = x * y.</dd>
<dt>/=</dt>
<dd>Assigns the value of x / y to the variable. for example x /= y, meaning x = x / y.</dd>
<dt>%=</dt>
<dd>Assigns the modulus of x / y to the variable. for example x %= y, meaning x = x % y.</dd>
</dl>
<h4>String Operators</h4>
<dl>
<dt>+ and +=</dt>
<dd>These operator's are for concatenating strings together.  string "c" + string "d" = string "cd"</dd>
</dl>
<h4>Comparison Operators</h4>
<dl>
<dt>==</dt>
<dd>This operator is to determine if variables have the same value. <br> 
Syntax: x == y <br>
Example: <br>
2 == 2 is true. 2 == 1 is false.<br>
2 == "2" is true. 2 == "1" is false.<br>
true == true returns true. <br>
true == false returns false.
false == false returns true.</dd>
<dt>===</dt>
<dd>This operator is to determine if variables have the same value and type. <br>
Syntax: x === y <br>
Example: <br>
2 === 2 returns true, while 2 === "2" returns false.</dd> 
<dt>!=</dt>
<dd>This operator returns true if the value of the variables are not equal. <br>
Syntax: x != y <br>
Example: <br>
1 != 2 returns true, while 1 != "1" returns false.</dd>
<dt>!==</dt>
<dd>This operator returns true if the value of the variables are not equal/ and or not of the same type. <br>
Syntax: x !== y <br>
Example: <br>
2 !== "2" returns true. <br>
2 !== 2 returns false.</dd>
<dt>></dt>
<dd>This operator returns true of the the left variables value is greater then the right variables value. <br>
Syntax: x < y <br>
Example: <br>
5 > 4 returns true.</dd>
<dt><</dt>
<dd>This operator returns true of the the left variables value is less then the right variables value. <br>
Syntax: x < y <br>
Example: <br>
4 < 5 returns true.</dd>
<dt>>=</dt>
<dd>This operator returns true of the the left variables value is greater then or equal the right variables value. <br>
Syntax: x >= y <br>
Example: <br>
5 >= 4 returns true. <br>
5 >= 5 returns true.</dd>
<dt><=</dt>
<dd>This operator returns true of the the left variables value is less then or equal the right variables value. <br>
Syntax: x <= y <br>
Example: <br>
4 <= 5 returns true. <br>
4 <= 4 returns true.</dd>
</dl>
<h4>Logical Operators</h4>
<dl>
<dt>&&</dt>
<dd>The AND operator only returns true if both expressions compared have returned true.</dd>
<dt>||</dt>
<dd>The OR operator returns true if either or both expressions returns true.</dd>
<dt>!</dt>
<dd>The NOT operator returns true if fed a false expressions, and returns false if fed a true expression. <br>
if a value can be converted to true, the value is called truthy, and if a value can be converted to false it is called falsy. <br>
Expressions that can be converted to false are : null;, NaN;, 0;, empty string; and undefined.</dd>
</dl>
<h4>Type Operators</h4>
<dl>
<dt>typeof</dt>
<dd>The typeof operator returns a string that indicates what type of variable it is. <br>
Syntax: typeof <br>
Example: <br>
typeof 10 returns "number". <br>
typeof "car" returns "string". <br>
typeof true returns boolean.</dd>
</dl>
</Section>
<Section>
<h3 id="Functions">Functions</h3>
<p>Javascript functions are defined with the function keyword. <br>
A function is a block of code, that does something when called.</p>
<p>Functions can be declared in three ways, as a variable, as a function or an anonymous function</p>
<p>A function declaration have to contain an argument inside Parentheses (), and some code inside the curly brackets {}.</p>
<dl>
<dt>Variable</dt>
<dd>Syntax: var functionName = function()</dd>
<dd>Functions declared as a variable, is used where you want the function to to be called as a variable.</dd>
<dt>Function as a Function</dt>
<dd>Syntax: function functionName(){code}</dd>
<dd>Function declared as a function is the most commonly used way to execute a function.</dd>
<dt>anonymous self-invoking function</dt>
<dd>Syntax: (function(){code})();</dd>
<dd>A self-invoked function will start automatically where it is supposed to be used, or as an argument inside another function.</dd>
</dl>
</Section>
<Section>
<h3 id="Logic">Logic Flow</h3>
<p>Logic is a series of statements taking different actions depending on the truthiness of compared values.</p>
<dl>
<dt>if / else if / else</dt>
<dd>if/ else if and else statements are used to form blocks of decision making code. Only the first statement that returns true will have it's [code] executed. <br>
If none on the if/else statements ends up true, the ending else statement will be executed.</dd>
<pre class="se-code">
    <code>
if (false){
    [run this code]
}
else if (true){
    [run this code]
}
else{
    [run this code]
}
    </code>
</pre>    
<p>In the example above the first statement will not run its code since the if statement is false. <br>
 The second statement else, will run since it is true, this means the function stops here, and will not check the laste else statement.</p>    
<dt>Switch</dt>
<dd>Switch is another JavaScript logic, where a input expression is matched against several potetial cases.</dd>
</dl>
<pre class="se-code">
    <code>
switch (expression) {
  case expression1:
    [code]
    [break;]
  case expression2:
    [code]
    [break;]
  [default:
    [code]
    [break;]]
    </code>
</pre>  
<p>In the switch statement, it compares all cases to the expression, the one who is true will run the code until it hits a break point.</p>  
</Section>
<Section>
<h3 id="Loops">Loops</h3>
<p>Loops are functions that will run until the initial statement ends up false. There are four different loops you can use.</p>
<dl>
<dt>for</dt>
<dd>For loop is the most used loop function, it loops through a block of code a number of times, <br>
 until the initial statement is met then the loop ends.</dd>
 <pre class="se-code">
    <code>
for (var index = 0; index < 10; index++) {
        console.log(index);        
}
    </code>
</pre>  
<button type="button" name="button" onclick="forLoop()">Test</button>        
output:
<pre class="se-code">
    <code>
<div id="forLoop"></div>
 </code>
</pre> 
<dt>for/in</dt>
<dd>The for/in statement loops through the properties of an object. <br>
 The block of code inside the loop will be executed once for each property.</dd>
 <pre class="se-code">
    <code>
var x = "Cato"
for (var l in x) {
   console.log(x[l])
}
    </code>
</pre>
<button type="button" name="button" onclick="forInLoop()">Test</button>            
output:
<pre class="se-code">
    <code>
<div id="forInLoop"></div>
 </code>
</pre> 
<dt>while</dt>
<dd>Creates a loop that runs a specific statement as long as the condition is true. <br>
 The condition is evaluated before running the statement.</dd>
<dd>Danger: This loop can easily become infinite, avoid if possible.</dd>
 <pre class="se-code">
    <code>
var index = 0;
while (index < 4) {
    index++;
    console.log("i am here!")
}
    </code>
</pre> 
<button type="button" name="button" onclick="whileLoop()">Test</button>         
output:
<pre class="se-code">
    <code>
<div id="whileLoop"></div> 
 </code>
</pre> 
<dt>do/while</dt>
<dd>Creates a loop that runs a specific statement until the condition becomes false. <br>
 The condition is evaluated after running, <br>
 resulting in the specific statement atleast runs once.</dd>
<dd>Danger: This loop can easily become infinite, avoid if possible.</dd>
 <pre class="se-code">
    <code>
var index = 10;
do {
  console.log("running") 
  index--; 
} while (index > 4);
    </code>
</pre>
<button type="button" name="button" onclick="doWhileLoop()">Test</button>           
output:
<pre class="se-code">
    <code>
<div id="doWhileLoop"></div>
 </code>
</pre> 
</dl>
</Section>
<Section>
<h3 id="Scope">Scope</h3>
  <p>Scope is a term used to describe the availability of a function or variable. <br>
   A variable or function that is accessible directly from the root of the document are called global.<br>
  Variables and functions that are only accessible inside a function are called private or local.<br>
  <dt>Global Scope</dt>
  <dd>Global functions are declared outside of any function or object, and are accessible by all script functions that work on the same document.</dd>
  <dd>This comes at a high risk of creating hard to find errors in the code, and should be avoided if possible. <br>
   either by namespacing them by putting them inside a declared object, or sticking to only using locally scoped variables.</dd>
  <pre class="se-code">
  <code>
var myVar = "I am a global variable"

function myFunc(){
  myVar = "I am a global function that alters a global variable"
}
  </code>
  </pre>
  <dt>Local Scope</dt>
  <dd>Local variables are variables declared inside a function. these variables only exist within this function, <br>
   and are "scoped" to that function alone. Doing this ensures that there is no chance of the variable, <br>
    even if it exists elsewhere to cause any errors based on it's name alone.</dd>
  <pre class="se-code">
  <code>
function myFunc(){
  var myVar = "I am a local variable that belongs to myFunc"
}

function youFunc(){
  var myVar = "I am not the same as the other guy even tho we share the same name"
}
  </code>
  </pre>
  <dt id="namespacing">Namespaceing</dt>
  <dd>Namespacing is a method of structuring code that moves functions and variables away from the global scope, and into a javascript object.</dd>
  <dd>Functions declared inside an object in this manner can refer to it's own scope with the special syntax this.keyname regardless of the name of the object itself.</dd>
  <dd>Namespacing has the advantage that it permits the reuse of both function and variable names depending on what scope they are assigned to, <br>
   as well as giving them access to other scopes by addressing them with their full scope names.</dd>
  <pre class="se-code">
  <code>
var myWorld = {
  myVar: "I am a key of the object MyWorld, but I am also a variable",
  myFunc: function(){
    this.myVar = "This function can change me with its,
    strange this syntax since we share the same namespace."
    var localScope = "I belongs to the local scope of myFunc,
    so I don't exist anywhere but right here."
  }
}
  </code>
  </pre>
</Section>
<Section>
<h3 id="Misc">Misc</h3>
<dl>
<dt>JSON</dt>
<dd>JSON stands for JavaScript Object Notation, it is a format that allows JavaScript Object and plain text to be stored and transported.</dd>
</dl>
<h4>es6/es2015+</h4>
<p>It is the new standard of ECMAscript for javaScript users, with new features like:</p>
<dl>
<dt>backtick ´</dt>
<dd>lets you use multi-line strings instead of + and /n inside a function. </dd>
<dt>let</dt>
<dd>let statement lets you declare a variable with block scope.</dd>
<dt>const</dt>
<dd>const statement lets you declare a variabel with a constant value.</dd>
<dt>arrow functions =></dt>
<dd>allows a short syntax for function expressions.</dd>
</dl>
</Section>


