<h1 class="se-flex se-justify-center">Elixir</h1>
<p>Elixir is a dynamic functional language designed for building scalable and maintainable applications.
    <br> with features like scalability and fault-tolerance. It got tools like interactive development and erlang compatibility.</p>
<Section>
    <h3 id="IEX">IEX</h3>
    <p>It is the interactive shell for Elixir where you can test your functions and if there is something wrong with your code
        you will see it here.
        <br> type iex in the command line to enter the interactive shell.
        <br> IEX have a couple nice features like autocomplete debugging and history, but be aware autocomplete wont work in
        windows.</p>
    <dl>
        <dt>iex uses</dt>
        <dd>IEX have many uses but the one we have used the most is testing functions and projects in elixir/phoenix.</dd>
        <dd></dd>
        <dt>iex help</dt>
        <dd>There are many helper functions in iex to help ease your work. you can see all helper functions when typing h(IEx)
            <br> or if you type h/1 you can se some of them. </dd>
        <dt>iex project</dt>
        <dd>You can interact with a project typing iex -S mix in the terminal, and if u want you can type iex -S mix phx.server
            <br> to have both IEX and the server up at the same time.</dd>
        <dd>This command will allow you to access functions and modules inside your projects in the IEx terminal,
            <br> as if they where a part of IEx and it's default modules.</dd>
    </dl>
</section>
<Section>
    <h3 id="Mix">Mix</h3>
    <p>Mix is a build tool that helps you create, compile and test Elixir projects.</p>
    <h4>Mix uses</h4>
    <dl>
        <dt>mix.phx new (projectName)</dt>
        <dd>typing this in your perfered console command line, creates a new Elixir/Phoenix project for you. </dd>
        <dd>Remember to allready have the console dir in the folder you want the project to end up in. </dd>
        <dt>mix compile</dt>
        <dd>Open your perfered command line and go to the project directory,
            <br> there type mix compile. That will compile your current project.</dd>
        <dt>mix test</dt>
        <dd>Open your perfered command line and go to the project directory,
            <br> there type mix test. That command will run tests on your current project.</dd>
        <dt>mix deps.get</dt>
        <dd>Running this command will fetch all dependencies for your new project.</dd>
        <dt>mix ecto.create</dt>
        <dd>Running this command will give your new project a database.</dd>
    </dl>
</section>
<Section>
    <h3 id="Dt">Data Types</h3>
    <p>Elixir basic data type</p>
    <dl>
        <dt>atom</dt>
        <dd>An atom is a constant whose name is its value, and you define an atom using :atom.</dd>
        <dd>The key in a key-value pair is always an atom. True and false are also atoms.</dd>
        <dt>string</dt>
        <dd>String in Elixir are UTF-8 encoded and are wrapped in double qoutes, you define a string using "string".</dd>
        <dt>integer</dt>
        <dd>Integer come as whole numbers, also support for binary, octal and hexadecimal numbers.</dd>
        <dd>This is an integer = 10</dd>
        <dt>float</dt>
        <dd>Float require a decimal after atleast one digit.</dd>
        <dd>This is a float = 10.0</dd>
        <dt>boolean</dt>
        <dd>Boolean are :true or :false statements.
            <br> Elixir considers everything as truthy except for :false and nil:
            <br> all booleans are also atoms.</dd>
    </dl>
</section>
<h3 id="Collections">Collections</h3>
<p></p>
<dl>
    <dt>list</dt>
    <dd>Syntax: ["car", 2018, :audi]</dd>
    <dd>Lists are simple collections of values in a list format. Lists may also include non-unique values.</dd>
    <dd>The data in a list is ordered and can be sorted.</dd>
    <dt>keyword list</dt>
    <dd>Syntax: [car: "audi", country: "Norway"]</dd>
    <dd>Keyword list is a special list of key-value pairs. The key is always an atom.</dd>
    <dt>tuples</dt>
    <dd>Syntax: {"car", 2018, :audi}</dd>
    <dd>tuples are containers for all types of values, they are stored contiguously in memory. This makes them fast to access,
        but hard to modify.</dd>
    <dd>It is common for tuples to be as a mechanism to return additional info from functions.</dd>
    <dt>map</dt>
    <dd>Syntax: map = %{fname: "cato", lname: "steivang"}</dd>
    <dd>maps are the "go-to" key-value store and unlike lists they allow keys of any type and are un-ordered.</dd>
    <dt>mapSet</dt>
    <dd>Syntax: MapSet.new() </dd>
    <dd>mapSet is the "go-to" set data structure, a set can contain any kind of values. mapSets cant contain duplicate values.</dd>
    <dt>Struct</dt>
    <dd>Syntax: defstruct(fields)</dd>
    <dd>A struct is a tagged map that allows you to provide default values for keys and tags.</dd>
    <dd>Struct is a read only map, you cant change the values inside.</dd>
</dl>
</section>
<Section>
    <h3 id="Operators">Operators</h3>
    <p></p>
    <dl>
        <h4>Arithmetic</h4>
        <dt>+</dt>
        <dd>Addition adds two integers/floats together like so,</dd>
        <dd>5 + 5 = 10</dd>
        <dd>Returns an integer unless one or both arguments are an float.</dd>
        <dt>-</dt>
        <dd>Subtraction subtracts two integers/floats together like so,</dd>
        <dd> 6 - 5 = 1</dd>
        <dd>Returns an integer unless one or both arguments are an float.</dd>
        <dt>*</dt>
        <dd>Multiplication multiplies two integers/floats together like so,</dd>
        <dd> 3 * 3 = 9</dd>
        <dd>Returns an integer unless one or both arguments are an float.</dd>
        <dt>/</dt>
        <dd>Division divides two integers/floats together like so,</dd>
        <dd>9 / 3 = 3.0</dd>
        <dd>Division will always return an float.</dd>
        <dt>Integer division</dt>
        <dd>This is a function you can use if u want to get an integer when you divide two integers.</dd>
        <dd>div(10, 5) = 2</dd>
        <dt>Integer remainder</dt>
        <dd>This is a function you can use if you want to get the remainder/modulus from two integers.</dd>
        <dd>rem(10, 5) = 5</dd>
        <h4>Boolean</h4>
        <h5>Boolean operators checks both arguements truthiness, if arguement one is not true you get the value from the second
            arguement.</h5>
        <dt>||</dt>
        <dd>Checks if both values provided are truthy This is a non strict or, which does not expect the first argument to be
            Boolean.</dd>
        <dt>or</dt>
        <dd>Checks if one values provided are truthy. This is a strict or, which expect the first argument to be Boolean.</dd>
        <dt>&&</dt>
        <dd>Checks if both values provided are truthy. This is a non strict and, which does not expect the first argument to
            be Boolean.</dd>
        <dt>and</dt>
        <dd>Checks if both values provided are truthy. This is a strict and, which expect the first argument to be Boolean.</dd>
        <dt>!</dt>
        <dd>Unary operator which inverts the value of the given input. This is a non strict not, which does not expect the argument
            to be Boolean.</dd>
        <dt>not</dt>
        <dd>Unary operator which inverts the value of the given input. This is a strict not, which expect the argument to be
            Boolean.</dd>
        <h4>Comparison</h4>
        <dt>==</dt>
        <dd> This is the non strict equal, you can compare integers and floats and still get true.</dd>
        <dd>4 == 4.0 = true</dd>
        <dt>===</dt>
        <dd>This is the strict equal, you can only compare integers vs integers and floats vs float to get true.</dd>
        <dd>4 === 4.0 = false</dd>
        <dd>4.0 === 4.0 = true</dd>
        <dt>!=</dt>
        <dd>This is the non strict inequal, gives true if both sides dont match.</dd>
        <dd>1 != 1 = false</dd>
        <dd>1 != 2 = true</dd>
        <dt>!==</dt>
        <dd>This is the strict inequal, gives true if both side arent identical.</dd>
        <dd>1 !== 1 = false</dd>
        <dd>1 !== 2 = true</dd>
        <dt>&gt;</dt>
        <dd>Greater then compare both values and give you a true if the left side is greater then the right side.</dd>
        <dd>5 > 4 = true</dd>
        <dd>4 > 5 = false</dd>
        <dt>>=</dt>
        <dd>Greater then or equal compare both values,
            <br> and give you a true if both values match or if the left side is greater then the right side.</dd>
        <dd>5 >= 4 = true</dd>
        <dd>5 >= 5 = true</dd>
        <dt>&lt;</dt>
        <dd>Less then compare both values and give you a true if the left side is less then the right side.</dd>
        <dd>4 > 5 = true</dd>
        <dd>5 > 4 = false</dd>
        <dt>
            <=</dt>
                <dd>Less then or equal compare both values,
                    <br> and give you a true if both values match or if the left side is less then the right side.</dd>
                <dd>4 >= 4 = true</dd>
                <dd>4 >= 5 = true</dd>
                <h4>String Interpolation</h4>
                <dt>#{}</dt>
                <dd>Lets you add a variable or a function into a string</dd>
                <dd>car = "Audi"</dd>
                <dd>"Best #{car}"</dd>
                <dd>"Best Audi"</dd>
                <h4>String Concatenation</h4>
                <dt>&lt;&gt;</dt>
                <dd>Lets you add strings together.</dd>
                <dd>"hello" &lt;&gt; "world"</dd>
                <dd>"hello world"</dd>
                <h4>pipe</h4>
                <dt>The pipe operator |> passes the result of an expression as the first parameter of another expression.</dt>
                <pre class="se-terminal">
<code>
iex> rem(11111,44) |> to_string
"23"
</code>
</pre>
    </dl>
</section>
<Section>
    <h3 id="Pm">Pattern Matching</h3>
    <p>pattern matching is a powerful tool inside elixir. It allows you to match simple values, data structures and functions.</p>
    <dl>
        <dt>Match operator =</dt>
        <dd>In Elixir The = operator works different then in other languages.. It turns the whole expression into an equation,
            <br> then it tries to match the values on the left side with right side values.
            <br> If the match succeds it returns the value of the equation.
            <br> Otherwise it throws and error.</dd>
        <dd>here is an example of pattern matching with recursion.</dd>
        <pre class="se-terminal">
    <code>
iex(1)> [head | tail] = [2, 4, 6]
[2, 4, 6]
iex(2)> head
2
iex(3)> tail
[4, 6]

    </code>
</pre>
        <dd>here is an example of just pattern matching a list.</dd>
        <pre class="se-terminal">
<code>
iex(4)> [c, a, t, o] = [1, 2, 3, 4]
[1, 2, 3, 4]
iex(5)> c
1
iex(6)> a
2
iex(7)> t
3
iex(8)> o
4
</code>
</pre>
        <dt>Pin operator ^</dt>
        <dd>you have the pin operator for situations where variable rebinding behavior is undesirable.</dd>
        <dd>When we pin a variable we match on the existing value rather then rebinding it to a new one.</dd>
        <dd>In this example i have pinned c to the value 5. so i get a match error when i try to give c the value of 10.</dd>
    </dl>
    <pre class="se-terminal">
    <code>
iex(9)> c = 5
5
iex(10)> ^c = 10
** (MatchError) no match of right hand side value: 10

    </code>
</pre>
</section>
<Section>
    <h3 id="Mf">Modules & Functions</h3>
    <p>Modules and Functions are the soul and heart of Elixir.
    Like in other languages, functions are blocks of code that performs one or more actions.</p>
    <dl>
    <dt>Modules</dt>
    <dd>Modules lets you organize functions into a namespaced block. In addition to grouping functions, <br>
    they let you define named and private functions. </dd>
    <dd>Syntax: defmodule</dd>
    <pre class="se-terminal">
    <code>
    defmodule myModule do
        -
        -
        -
    end    
    </code>
    </pre>
        <dt>Anonymous Functions</dt>
        <dd>Anonymous functions as the name implies has no name and are defined using fn and end keyword.</dd>
        <dd>The parameters are separated using the -> keyword.</dd>
        <dd>Syntax: fn -> end</dd>
    <pre class="se-terminal">
    <code>
    iex(16)> nr = fn (1, 5) -> 1 + 5 end
    #Function<12.99386804/2 in :erl_eval.expr/5>
    iex(17)> nr.(1, 5)
    6
    </code>
    </pre>
        <dt>Named Functions</dt>
        <dd>Public and private functions we define with names so they are easy to refer to later, <br>
        Named functions are defined using the def keyword within a defmodule.</dd>
        <dd>Syntax: def functionName do </dd>
    <pre class="se-terminal">
    <code>
    defmodule myModule do
        def functionName do
        -
        end
     end   
    </code>    
    </pre>
        <dt>Pattern Matching</dt>
        <dd>Pattern matching can be applied to a function signature in Elixir.</dd>
    <pre class="se-terminal">
    <code>
    iex(19)> city = fn
    ...(19)> {:ok, city} -> "myCity: #{city}" end
    #Function<6.99386804/1 in :erl_eval.expr/5>
    iex(20)> city.({:ok, "Sparbu"})
    "myCity: Sparbu"
    </code>    
    </pre>    
    </dl>
</section>
<Section>
    <h3 id="Recursion">Recursion</h3>
    <p>Recursion is one Elixirs ways to iterate over elements. <br>
    Recursion calls upon its function over and over until a certain condition is met, then it ends. <br>
     Warning: If no certain or specified condtion is met, it will end up as an inifinite recursion.</p>
    <pre class="se-terminal">
    <code>
    defmodule Coin do
    def div_each([head | tail]) do
        [head / 3 | div_each(tail)]
    end

    def div_each([]) do
        []
    end
end
    </code>    
    </pre>
    Output:
    <pre class="se-terminal">
    <code>
    iex(2)> myList = [9, 18, 30]
    iex(3)> Coin.div_each(myList)
    [3.0, 6.0, 10.0]
    </code>    
    </pre>
</section>
<Section>
    <h3 id="Comprehensions">Comprehensions</h3>
    <p>Comprehensions are a nice way to iterate over Enumerables in Elixir. You can do pattern matching, <br>
     filtering, and perform functions on all enumerables.</p>
    <dl>
        <dt>Syntax: for ... do:</dt>
    </dl>
     <pre class="se-terminal">
    <code>
    iex(9)> myList = [2, 4, 6, 8, 10]
    iex(10)> for a <- myList, do: a/2
    [1.0, 2.0, 3.0, 4.0, 5.0]
    </code>    
    </pre>
</section>
<Section>
    <h3 id="Enum">Enumerable</h3>
    <p>Enum is Elixirs module with functions for enumerables. <br>
    It got over 70 premade functions for working with enumerables. </p>
    <dl>
        <dt>enum.map</dt>
        <dd>Syntax: Enum.map()</dd>
        <dd>This will return a list where each item the result of invoking function on each corresponding item of the enumerable.</dd>
        <dd>For maps the function expression expects a key-value tuple.</dd>
         <pre class="se-terminal">
    <code>
    iex(11)> data = [5, 10, 15, 20]
    [5, 10, 15, 20]
    iex(12)> Enum.map(data, fn x -> x * 5 end)
    [25, 50, 75, 100]
    </code>    
    </pre>
        <dt>enum.all?</dt>
        <dd>Syntax: Enum.all?()</dd>
        <dd>This will only return the atom :true if the entire collection evaluates to true: <br>
        otherwise it will return the atom false:</dd>
        <pre class="se-terminal">
        <code>
        iex(13)> data = ["Cato", "Ken", "Paul"]
        ["Cato", "Ken", "Paul"]
        iex(14)> Enum.all?(data, fn(a) -> String.length(a) == 3 end)
        false
    
        iex(15)> Enum.all?(data, fn(a) -> String.length(a) > 2 end)
        true
        </code>
        </pre>
        <dt>enum.any?</dt>
        <dd>Syntax: Enum.any?()</dd>
        <dd>this will return the atom :true if atleast one of the values evaluates to true:</dd>
        <pre class="se-terminal">
        <code>
        iex(13)> data = ["Cato", "Ken", "Paul"]
        ["Cato", "Ken", "Paul"]
        iex(16)> Enum.any?(data, fn(a) -> String.length(a) == 4 end)
        true
        </code>
        </pre>
        <dt>enum.min</dt>
        <dd>Syntax: Enum.min()</dd>
        <dd>This will return the minimal value of the collection.</dd>
        <pre class="se-terminal">
        <code>
        iex(21)> data = [5, 50, 500, 5000]
        [5, 50, 500, 5000]
        iex(22)> Enum.min(data, -1)
        5
        </code>
        </pre>
        <dt>enum.max</dt>
        <dd>Syntax: Enum.max()</dd>
        <dd>This will return the maximal value in the collection.</dd>
        <pre class="se-terminal">
        <code>
        iex(21)> data = [5, 50, 500, 5000]
        iex(23)> Enum.max(data, -1)
        5000
        </code>
        </pre>
        <dt>enum.uniq_by</dt>
        <dd>Syntax: Enum.uniq_by()</dd>
        <dd>This will remove all duplicates from the collection.</dd>
        <pre class="se-terminal">
        <code>
        iex(24)> data = ["C", "C", "A", "A", "A", "T", "T", "T", "T", "O", "O"]
        ["C", "C", "A", "A", "A", "T", "T", "T", "T", "O", "O"]
        iex(25)> Enum.uniq_by(data, fn a -> a end)
        ["C", "A", "T", "O"]
        </code>
        </pre>
    </dl>
</section>
<Section>
    <h3 id="ExUnit">ExUnit</h3>
    <p>This is a built in framework for Elixir, that help you test your code, and check that every function is running as intended. <br>
     You need to implement your tests as elixir scripts .exs instead of .ex for your testing to work.</p>
   <h5>My test</h5>
   <p>I made a plug that we can test using the command line. <br>
   type: mix test test/summer_exam_web/mytest/plug_test.exs <br>
   here is an example of a failed test.</p>
   <pre class="se-terminal">
   <code>
   C:\Users\Siri\Documents\GitLab\summer_exam>mix test test/summer_exam_web/mytest/plug_test.exs

  1) test returns path (PlugTest)
     test/summer_exam_web/mytest/plug_test.exs:7
     Assertion with == failed
     code:  assert conn.page() == "/Phoeenix"
     left:  "/Phoenix"
     right: "/Phoeenix"
     stacktrace:
       test/summer_exam_web/mytest/plug_test.exs:12: (test)
   </code>
   </pre>
</section>
<section>
<h3 id="Kernel">Kernel</h3>
<p>The Kernel holds the core functions of Elixir. It holds all the functions required to define new modules and functions. <br>
 It also holds the arithmentic operators, spawning of proccesses and several other important macros.</p>
</section>
<section>
<h3 id="API">API</h3>
<p>Api stands for Application Programming Interface, and are a important part of all software on the market today. <br>
API's can be seen as an agreement about data transfer and requests between separate applications.</p>
<dl>
<dt>Ecto is an example of a Phoenix API.</dt>
</dl>
</section>