<h1 class="se-flex se-justify-center">Phoenix</h1>
<p>Phoenix is a web development Framework written in the Elixir language. <br>
It is implemented with the server-side MVC pattern. IF you have experience with ruby on rails or phyton's Django, <br>
components and concept may seem familiar. Phoenix provides the best of both worlds. <br>
High development productivity and high application performance. It also have channels for implementing <br>
realtime features and pre compiled templates for blazing speed.</p>
<section>
<h3 id="General">General</h3>
<dl>
<dt>The major parts / features in Phoenix are:</dt>
</dl>
<ul>
<li>Router</li>
<li>Scope</li>
<li>Controllers</li>
<li>View</li>
<li>Template</li>
<li>DataFlow</li>
</ul>

<h4>Scopes</h4>
<p>Scoping gives you the advantage of having your templates grouped in sub categories inside the router, you can have as many scopes as you see fit. <br>
It may help you organize your project better, and make it easier for the end user aswell.</p>
<pre class="se-code">
<code>
 scope "/", SummerExamWeb do
    pipe_through :browser # Use the default browser stack
    -
    -
    -
end    
</code>
</pre>
<h4>Router</h4>
<p> the Phoenix Router is the place where data are connected to their appropriate scope and and route using get functions.</p>
<pre class="se-code">
<code>
 scope "/", SummerExamWeb do
    pipe_through :browser # Use the default browser stack

    get "/", PageController, :index
    get "/html", HtmlController, :index
    get "/css", CssController, :index
end    
</code>   
</pre>
<h4>Context</h4>
<p>Context is a method for dividing code up into sections depending on what the code is related to. <br>
 For instance collecting all user login's and register functions in a single module, is a form for context planning.</p>
<h4>Controllers</h4>
<p>The controller is where most of the rendering of content happens, <br> 
and the functonality from the backend comes in. <br>
 it interacts with templates trough the use of variables.</p>
<pre class="se-code">
<code>
defmodule SummerExamWeb.PhoenixController do
    use SummerExamWeb, :controller
  
    def index(conn, _params) do
      render conn, "index.html"
    end
  end
</code>
</pre>
<h4>Views</h4>
<p>The view is what links the same namespaced controller and view to render the template, <br>
You can also render a template only using the view with an render function. </p>
<dl>
<dd>normal view</dd>
<pre class="se-code">
<code>
defmodule SummerExamWeb.PhoenixView do
    use SummerExamWeb, :view
  end
</code>
</pre>
<dd>View render without controller</dd>
<pre class="se-code">
<code>
defmodule SummerExamWeb.Shared.Navigation.TempfView do
    use SummerExamWeb, :view
  end
</code>
</pre>
</dl>
<h4>Template</h4>
<p>This is the content (HTML) the controller / view actually renders and the enduser can see. </p>
<p>Here i have rendered a template with a simple table inside it.</p>
<dl>
<dd> <%= render SummerExamWeb.Shared.Navigation.TempfView, "tempf.html", assigns %> </dd>
<pre class="se-code">
<code>
&lt;%= render Summer_examWeb.Shared.Navigation.TempfView, "tempf.html", assigns %&gt;
</code>
</pre>
<dd></dd>
<dt></dt>
<dd></dd>
</dl>
<h4>DataFlow</h4>
<dl>
<dd>When the data is requested form the client, it passes trough a pipeline where the request is prossesed trough a series of plugs.</dd>
<dd>Once the pipeline is done proccessing the data, the router choose the appropriate controller and scope from the router section.</dd>
<dd>Then a combination of the master template (app.html.eex), and the variables set by the pipeline are used by the controller, <br>
to render the appropriate page with the help of the appropriate views linked from the master template.</dd>
<dd class="se-t-1" title="Data Flow figure">
</dd>
</dl>
<div>
<img src="../images/dataflow.jpg" alt="" width="400px" height="400px">
</div>
</section>
<section>
<h3 id="Plug">Plug</h3>
<p>A plug is a specified(API) for modules between web applications. <br> 
In phoenix they are used to process incomming requests, from the client to the server.</p>
<h5>Conn</h5>
<p>Plug.conn is a elixir struct that represents the connection. <br>
Data from the conn struct can be read and pattern matched on, <br> 
this allows a wide variety of functionality to what you can do with the incoming request.</p>
<p>My plug shows what project page you are currently on, the page-path can be seen right under, <br>
the headliner on the navbar.</p>
<pre class="se-code">
<code>
defmodule SummerExam.Assignement.Plug do
    def init(options) do
      options     
    end
    def call(%Plug.Conn{:request_path => page} = conn, _default) do
      conn 
       |> Map.put_new(:page, page)
    end
end
</code>
</pre>
</section>
<section>
<h3 id="Ecto">Ecto</h3>
<p>Ecto is a phoenix API mainly used for interacting with databases. It is split up in 4 main components.</p>
<ul>
<li>Ecto.Schema - is used to map any data into an Elixir struct.</li>
<li>Ecto.Changeset - it is for validating and filter what ends up in the database. </li>
<li>Ecto.Repo - is used to create, delete and update an database.</li>
<li>Ecto.Query - are used to retrieve information from a given repository.</li>
</ul>
<h4>Mix Tasks</h4>
<p>Mix tasks are premade functions you can invoke using mix in the commandline.</p>
<dl>
<dt>Mix.ecto.create</dt>
<dd>This command creates a new empty repository in the referenced database, in the project config.</dd>
<dt>Mix.ecto.drop</dt>
<dd>This command drops the database and all its content.</dd>
<dt>Mix.ecto.reset</dt>
<dd>This command wil reset the database and rerun migrations.</dd>
<dt>Mix.ecto.gen.migration</dt>
<dd>This command will auto-generate an basic migration for your database with the current timestamp.</dd>
<dt>Mix.ecto.load</dt>
<dd>This command will load the current eviroment's database structure.</dd>
<dt>Mix.ecto.migrate</dt>
<dd>This command will update the database to the newest version.</dd>
<dt>Mix.ecto.rollback</dt>
<dd>This command will revert the database to the previous version.</dd>
<dd></dd>
</dl>
<h4>Adapters</h4>
<p>Adapters help you transelate communication with other programming languages.</p>
<dl>
<dt>The Postgres adapter have been used on this project to communicate with the database.</dt>
</dl>
<h4>Migrations</h4>
<p>Migrations are used to create, update and change your database schema's.</p>
<dl>
<dt>This example shows a migration that creates a new post database.</dt>
<dd>Running mix ecto.migrate with this file, will create a table named posts in the database.</dd>
<dd>it contains the columns header, data and content with their respective datatypes.</dd>
</dl>
<pre class="se-code">
<code>
defmodule SummerExam.Repo.Migrations.CreatePosts do
  use Ecto.Migration

  def change do
    create table(:posts) do
      add :header, :string
      add :content, :map
      timestamps()
    end
  end  
end
</code>
</pre>
<h4>Schema</h4>
<p>Schema's are used to map any data to and from a repository into an Elixir Struct.</p>
<dl>
<dt>The following Schema is the one that match up with the database above.</dt>
</dl>
<pre class="se-code">
<code>
 schema "posts" do
    field :content, :string
    field :header, :string
    belongs_to :user, SummerExam.Assignment.Identity.User
    timestamps()
  end
</code>
</pre>
<h4>Changeset</h4>
<p>Changesets are used for filtering, casting and defining constraints when working with Structs.</p>
<dl>
<dt>This changeset filters away any map intries that does not exist in the database and check if all required entries are.</dt>
</dl>
<pre class="se-code">
<code>
def changeset(post, attrs) do
    post
    |> cast(attrs, [:header, :content])
    |> validate_required([:header, :content])
  end
</code>
</pre>
<h4>Repo</h4>
<p>Repo contains functionality for performing insertions of new data, updating data, fetching data and deleting data from the database.</p>
<dl>
<dt>This example will show you all posts that exist in the repository related to the %Post{} struct.</dt>
</dl>
<pre class="se-code">
<code>
def list_posts do
    Repo.all(Post)
  end
</code>
</pre>
<dl>
<dt>This example will insert a new post with the %Post{} struct, after being sent through the changeset.</dt>
</dl>
<pre class="se-code">
<code>
def create_post(attrs \\ %{}, id) do
    User.changeset_post(User, id, attrs)
    |> Repo.insert()
  end
</code>
</pre>
<h4>Query</h4>
<p>Ecto's API module for composing database queries in a more easy to work with format.</p>
<dl>
<dt>In this example i want to find the ID of user Lucky. We get the ID back in squarebrackets.</dt>
</dl>
<pre class="se-terminal">
<code>
iex(20)> Identity.find_id("Lucky")
[debug] QUERY OK source="users" db=0.0ms
SELECT u0."id" FROM "users" AS u0 WHERE (u0."alias" = $1) ["Lucky"]
[2]
</code>
</pre>
<h4>Multi</h4>
<p>This is an Ecto module that is used for grouping multiple repo operations, and all operations will be executed in the order they were added.</p>
<p>A multi operation is built so if one of the many opertations fail the whole multi fail, <br>
no matter if its the first operation or the last operation in the pipeline. </p>
<dl>
<dt></dt>
<dd></dd>
<dt></dt>
<dd></dd>
<dt></dt>
<dd></dd>
</dl>
<pre class="se-code">
<code>

</code>
</pre>
<h4>Associations</h4>
<p>Using association tables you can easily link multiple data tables together.</p>
<dl>
<dt>This example shows the schema for creating a user, and associating entries from a post database table.</dt>
</dl>
<h5>User Schema</h5>
<pre class="se-code">
<code>
defmodule SummerExam.Assignment.Identity.User do
  use Ecto.Schema
  import Ecto.Changeset

  schema "users" do
    field :alias, :string
    field :avatar, :map
    field :email, :string
    field :encrypted_password, :string
    has_many :posts,  SummerExam.Assignment.Blog.Post
    timestamps()
  end

  @doc false
  def changeset(user, attrs) do
    user
    |> cast(attrs, [:email, :encrypted_password, :alias, :avatar])
    |> validate_required([:email, :encrypted_password, :alias])
  end

  def changeset_post(user id, post) do
    SummerExam.Repo.get!(user, id)
    |> SummerExam.Repo.preload(:posts)
    |> Ecto.build_assoc(:posts, post)
  end
end
</code>
</pre>
<h5>Migration file</h5>
<dl>
<dt>The association needs to be defined in the migration database.</dt>
</dl>
<pre class="se-code">
<code>
defmodule SummerExam.Repo.Migrations.CreatePosts do
  use Ecto.Migration

  def change do
    create table(:posts) do
      add :header, :string
      add :content, :map
      add :user_id, references(:users, on_delete: :nothing)
      timestamps()
    end
  end  
end
</code>
</pre>
<h5>Data input functions</h5>
<dl>
<dt>We need some function to input data into the database.</dt>
</dl>
<pre class="se-code">
<code>
defmodule SummerExam.Assignment.Blog do
  import Ecto.Query, warn: false
  alias SummerExam.Repo
  alias SummerExam.Assignment.Blog
  alias SummerExam.Assignment.Blog.Post
  alias SummerExam.AssignmentIdentity
  alias SummerExam.Assignment.Identity.User

  def list_posts do
    Repo.all(Post)
  end

  def get_post!(id), do: Repo.get!(Post, id)

  def create_post(attrs \\ %{}, id) do
    User.changeset_post(User, 1, attrs)
    |> Repo.insert()
  end

  def change_post(%Post{} = post) do
    Post.changeset(post, %{})
  end
end  
</code>
</pre>
<pre class="se-terminal">
<code>
iex(1)> alias SummerExam.Assignment.{Blog, Identity}
[SummerExam.Assignment.Blog, SummerExam.Assignment.Identity]
iex(2)> post = %{header: "test", content: "Hello world"}
%{content: "Hello world", header: "test"}
iex(3)> Blog.create_post(post, 1)
[debug] QUERY OK source="users" db=0.0ms decode=15.0ms
SELECT u0."id", u0."alias", u0."avatar", u0."email", u0."encrypted_password",
u0."inserted_at", u0."updated_at" FROM "users" AS u0 WHERE (u0."id" = $1) [1]
[debug] QUERY OK source="posts" db=47.0ms
SELECT p0."id", p0."content", p0."header", p0."comments", p0."user_id",
p0."inserted_at", p0."updated_at", p0."user_id" FROM "posts" AS p0 WHERE
(p0."user_id" = $1) ORDER BY p0."user_id" [1]
[debug] QUERY OK db=0.0ms
begin []
[debug] QUERY OK db=15.0ms
INSERT INTO "posts" ("content","header","user_id","inserted_at","updated_at")
VALUES ($1,$2,$3,$4,$5) RETURNING "id" ["Hello world", "test", 1, 
{{2018, 8, 3}, {10, 45, 4, 994000}}, {{2018, 8, 3}, {10, 45, 4, 999000}}]
[debug] QUERY OK db=0.0ms
commit []
{:ok,
 %SummerExam.Assignment.Blog.Post{
   __meta__: #Ecto.Schema.Metadata<:loaded, "posts">,
   comments: [],
   content: "Hello world",
   header: "test",
   id: 3,
   inserted_at: ~N[2018-08-03 10:45:04.994000],
   updated_at: ~N[2018-08-03 10:45:04.999000],
   user: #Ecto.Association.NotLoaded<association :user is not loaded>,
   user_id: 1
 }}
</code>
</pre>
<dl>
<dt>Frontend output:</dt>
<dd>Here is an output of a User, associated with a post.</dd>
</dl>
<ul>
<%= @user.alias %>
</ul>
  <ol>
  <%= for post <- @user.posts do %>
  <li><%= post.header%> "   " <%= post.content %></li>
  <% end %>
  </ol>
 


<h4>Embed</h4>
<p>Embeds is a method for storing related data in a database without adding another table to to the database. <br>
Embeds uses their own schemas, and changesets to validate the data before it's inserted into the database as part of the parent table.</p>
<dl>
<dt>This example shows the Country schema and it's changeset, that is embedded into the user.</dt>
</dl>
<pre class="se-code">
<code>
defmodule SummerExam.Assignment.Identity.Country do
    use Ecto.Schema
    import Ecto.Changeset

    embedded_schema do
        field :country, :string
    
    end
    def changeset(user, attrs, country) do
        user
        |> cast(attrs, [:email, :encrypted_password, :alias, :avatar])
        |> put_embed(:country, country)
        |> validate_required([])
        
    end
end
</code>
</pre>
<h5>Migration</h5>
<dl>
<dt>This shows the migration for user.</dt>
</dl>
<pre class="se-code">
<code>
defmodule SummerExam.Repo.Migrations.CreateUsers do
  use Ecto.Migration

  def change do
    create table(:users) do
      add :email, :string
      add :encrypted_password, :string
      add :alias, :string
      add :avatar, :map
      add :country, :map <--- This is the embed.
      timestamps()
    end
  end
end

</code>
</pre>
<h5>Update function</h5>
<dl>
<dt>This is the Function that gives the user an embedded country in the database.</dt>
</dl>
<pre class="se-code">
<code>
 def update_country(%User{} = user, attrs, country) do
    user
    |> Country.changeset(attrs, country)
    |> Repo.update()
  end 
</code>
</pre>
</section>

