 <h1>This was my exam project of summer 2018.</h1>
 <section>
<h3>Project Planning</h3>

<p>I start by looking at my notes to see what the project is supposed to contain. <br>
Then i start to make a tool list so i can see where i found my references and such. <br>
After that i start setting up a priority check-list with all the bits and pieces i need for my project, <br>
i try to set time estimates, status, information and so on. Ok now i got a list i can prioritize my work from, <br>
then i start to draw some layouts on paper or use draw.io. in this case i went with draw.io. <br>
I made a layout with fixed navbar and sidebar, so only the middle content would change from page to page. <br>
Now i got all i need to actually start working on my project. </p>


</section>
<section>
<h3>Problem Solving</h3>
<p>When i come in contact with a problem. <br>
I first try to dissect it using pen and paper, <br>
i think out loud so i can actually hear what i am trying achive. <br>
If that cant help me solve the problem, i start to look online for answers. <br>
There is alot of good documentation online that might help me. 
</p>
</section>
<section>
<h3>Solo/Teamwork</h3>
<p>In a solo project you are the one doing all the legwork, planning and writing code.</p>
<p>In a team project there are more people taking part in the project planning, decission making and writing code, <br>
that means its important to commit and pull often so you always have the newest version of the project. </p>
</section>