<h1 class="se-flex se-justify-center">CSS</h1>
<section>
    Cascading Style sheets (CSS) is a stylesheet language, <br>
    used to describe the presentation of a document written in HTML or XML. <br>
    CSS describes how elements should look on screen.
</section>
<section>
    <h3 id="Basics">Basics</h3>
    <h4>How CSS works.</h4>
    <p>CSS is basically the makeup you put on HTML, to make it look like you want for the users. <br>
    Styling is neccessary to make a good end product. here are some examples of CSS in use.</p>
    <pre class="se-code">
                <code>
            &lt;div class="se-box se-demo-border"&gt;
            This is a box.
            &lt;/div&gt;
                </code>
            </pre>
    <div class="se-box se-demo-border">This is a box.</div>
            
    <pre class="se-code">
                <code>
            &lt;div class="se-flex"&gt;
            &lt;div class="se-box se-text-center se-demo-border se-demo-margin"&gt;box
            &lt;/div&gt;
            &lt;div class="se-box1 se-text-center"&gt;box1
            &lt;/div&gt;
            &lt;div class="se-box2 se-text-center"&gt;box2
            &lt;/div&gt;
            &lt;/div&gt;
                </code>
    </pre>
    <div class="se-flex">
        <div class="se-box se-text-center se-demo-border se-demo-margin">box
        </div>
            <div class="se-box1 se-text-center se-demo-border se-demo-margin">box1
            </div>
            <div class="se-box2 se-text-center se-demo-border se-demo-margin">box2
                </div>
    </div>                

</section>
<section>
    <h4>CSS box Model.</h4>
    <p>The CSS box model is the foundation of layout on the web. <br>
    margin, demo-border, padding and content built up around one and another like the layer on an onion. <br>
    You can always use f12 in the browser on a html page, and see the CSS Box Model.</p>
    <br>
    Hover over me:
    <div class="se-box-model se-demo-margin-bottom">
        <div title="Margin"  class="se-square-out">
            <div title="Border" class="se-square-middle">
                <div title="Padding" class="se-square-inner">
                    <div title="Content" class="se-square-center"></div>
                </div>
            </div>
        </div>
    </div>
    <dl>
    <dt>Margin</dt>
    <dd>Margin surrounds a css element, pushes up against the outer edge of the demo-border.</dd>
    <dt>border</dt>
    <dd>The border of a css element sits between the outer edge of padding and the inner edge of the margin.</dd>
    <dt>Padding</dt>
    <dd>Padding refers to the inner margin of a css element, <br>
    it sits between the outer edge of the content element and the inner edge of the demo-border.</dd>
    <dt>Content</dt>
    <dd>the element you actually see when the page is rendered.</dd>
</dl>
</section>
<section>
    <h4>Elements, class and Id selectors.</h4>
    <p>The most common selectors for styling a html document.</p>
    <dl>
    <dt>element selector</dt>
    <dd>Selects all elements of the given type withing the html document.</dd>
    <dd><strong>Syntax:</strong> element{style properties}</dd>
    <dt>id selector</dt>
    <dd>Selects all elements with the same ID tag. Id tags should always be unique.</dd>
    <dd><strong>Syntax:</strong> #id_value{style properties}</dd>
    <dt>class selector</dt>
    <dd>Selects all elements with the same class attribute.</dd>
    <dd><strong>Syntax:</strong> .class_name{style properties} </dd>
    </dl>
    </section>
    <section>
    <h4>Combining Selectors.</h4>
    <p>Basic Selectors and psuedo classes can use combinator syntax to make up infinte ways to style a html document.</p>
    <dl>
    <dt>adjacent sibling combinator (A + B)</dt>
    <dd>The + combinator selects adjacent siblings. Meaning that the second element(B) directly follows the first element(A), <br>
    Both elements have to share the same parent.</dd>
    <dt>general sibling combinator (A ~ B)</dt>
    <dd>The ~ combinator selects siblings. Meaning that the second element(B) follows the first element(A), <br>
    not necessarily immidiately, both element share the same parent. </dd>
    <dt>child combinator (A > B)</dt>
    <dd>The > combinator selects elements(B) that are direct children of the first element(A).</dd>
    <dt>descendant combinator (A B)</dt>
    <dd>The (space) combinator selects elements(B) that are descendants of the first element(A).</dd>
    </dl>
</section>
<section>
    <h4>Description of a CSS Property</h4>
    <p>A css property are made up of key value pairs. for example border(key): 2px black(values) <br>
    All css properties have specific values they expect, to create the styles they are intended for.</p>
    </section>
    <section>
    <h3 id="Properties">Properties</h3>
    <dl>
    <dt><strong>Most Used</strong></dt>
    <dt>Margin classes</dt>
    <dd>Margin classes are for air around the elements.</dd>
    <dt>color classes</dt>
    <dd>Color classes are for background color to elements and color on text.</dd>
    <dt>padding classes</dt>
    <dd>Padding classes are for air inside the elements.</dd>
    <dt>width classes</dt>
    <dd>Width classes help you determine width on elements.</dd>
    <dt>height classes</dt>
    <dd>Width classes help you determine height on elements.</dd>
    <dt>border classes</dt>
    <dd>Border classes gives you a border around the elements.</dd>
    <dt>grid</dt>
    <dd>A grid is defined using row and column values, it makes placement of elements easier.</dd>
    <dt>flex box</dt>
    <dd>Flex box is ment for displaying elements in a single dimension.</dd>
    <dt>justify classes</dt>
    <dd>placement classes to be used with flex box.</dd>
    <dt>align classes</dt>
    <dd>placement classes to be used with flex box.</dd>
    </dl>
    <dl>
    <dt><strong>Least Used</strong></dt>
    <dt>capitalization with text-transform</dt>
    <dd>This class is for changing how an HTML elements text content is capitalized.</dd>
    <dt>letter-spacing and word-spacing</dt>
    <dd>letter-spacing to reduce or increase character spacing by fixed amount (px, em, ex, %, etc)</dd>
    <dt>text-indent</dt>
    <dd>Text-indent defines the indentation of the first line in a block of text.</dd>
    <dt>white space</dt>
    <dd>white-space determines how the browser renders white space in your HTML document. </dd>
    <dt>table-layout</dt>
    <dd>Setting table-layout to “fixed” forces the browser to adhere to the table width you specify.</dd>
    </dl>
</section>
<section>
    <h3 id="Pseudo-Classes">Pseudo-Classes</h3>
    <dl>
    <dt>:Active</dt>
    <dd>Represent an element for example a button that is being activated by the user.</dd>
    <dt>:checked</dt>
    <dd>Represents any radio, checkbox or option element that is checked or toggled to an on state.</dd>
    <dt>:default</dt>
    <dd>Represents any element that is the default among a group of related elements. <br>
    May be used on button, checkbox, radio and option elements. </dd>
    <dt>:defined</dt>
    <dd>Represent any element that has been defined.</dd>
    <dt>:disabled</dt>
    <dd>Represents any disabled element.</dd>
    <dt>:empty</dt>
    <dd>Represents any element that has no children.</dd>
    <dt>:enabled</dt>
    <dd>Represents any element that is enabled.</dd>
    <dt>:first</dt>
    <dd>Represents the first page of a printed document.</dd>
    <dt>:first-child</dt>
    <dd>Represents the first element in a group of sibling elements.</dd>
    <dt>:first-of-type</dt>
    <dd>Represents the first element of its type in a group of sibling elements.</dd>
    <dt>:focus</dt>
    <dd>Represents an element that have focus. It is usually triggered when the user clicks on the element.</dd>
    <dt>:focus-within</dt>
    <dd>Represents an element that is matched by the focus pseudo-class or has a descendant that is matched by focus.</dd>
    <dt>:hover</dt>
    <dd>Represent an element that is usually triggered when the user hovers over the element with the mouse pointer, <br>
    but does not necessarily activate it.</dd>
    <dt>:indeterminate</dt>
    <dd>Represents any element whose state is indeterminate.</dd>
    <dt>:in-range</dt>
    <dd>Represent an &lt;input&gt; element whose current value is within the range limits, <br>
    specified by the min/max attributes.</dd>
    <dt>:invalid</dt>
    <dd>Represents any &lt;input&gt; or &lt;form&gt; element where validation fails.</dd>
    <dt>:lang()</dt>
    <dd>Matches elements based on the language they are determined to be in.</dd>
    <dt>:last-child</dt>
    <dd>Represents the last element among a group of sibling elements.</dd>
    <dt>:last-of-type</dt>
    <dd>Represents the last element of its type among a group of sibling elements.</dd>
    <dt>:left</dt>
    <dd>Represents all left-hand pages of a printed document.</dd>
    <dt>:link</dt>
    <dd>Represents links not visited.</dd>
    <dt>:not()</dt>
    <dd>Represents elements that do not match a list of selectors.</dd>
    <dt>:nth-child()</dt>
    <dd>Matches elements based on their position in a group of siblings.</dd>
    <dt>:nth-of-type()</dt>
    <dd>Matches elements of a given type, based on their position among a group of siblings.</dd>
    <dt>:nth-last-child()</dt>
    <dd>Matches elements based on their position among a group of siblings, counting from the end.</dd>
    <dt>:only-child()</dt>
    <dd>Represents any element without any siblings.</dd>
    <dt>:only-of-type</dt>
    <dd>Represents an element that has no siblings of the same type.</dd>
    <dt>:optional</dt>
    <dd>Represents any &lt;input&gt;, &lt;select&gt;, or &lt;textarea&gt; element that does not have the :required attribute set on it.</dd>
    <dt>:out-of-range</dt>
    <dd>epresent an &lt;input&gt; element whose current value is outside the range limits, <br>
    specified by the min/max attributes.</dd>
    <dt>:read-only</dt>
    <dd>Represents an element that is not editable by the user. For example text input.</dd>
    <dt>:read-write</dt>
    <dd>Represents an element that is editable by the user. For example text input.</dd>
    <dt>:required</dt>
    <dd>Represents any &lt;input&gt;, &lt;select&gt;, or &lt;textarea&gt; element that has the :required attribute set on it.</dd>
    <dt>:right</dt>
    <dd>Represents all right-hand pages of a printed document.</dd>
    <dt>:root</dt>
    <dd>Matches the root element of a tree representing the document in HTML.</dd>
    <dt>:scope</dt>
    <dd>Represents elements that are a reference point for selectors to match against.</dd>
    <dt>:target</dt>
    <dd> represents a unique element with an id matching the URL's fragment.</dd>
    <dt>:valid</dt>
    <dd>Represents any &lt;input&gt; or &lt;form&gt; element where validation success.</dd>
    <dt>:visited</dt>
    <dd>Represents links that have been visited.</dd>
    </dl>
</section>
<section>
    <h3 id="Variables">CSS Variables</h3>
    <p>Varibales in css is a relatively new syntax in css styling. var() <br>
    meaning you can reuse custom entities defined in your css library throughout a document. <br>
    It means it makes it alot easier to reuse styles. <br>
    but be aware it will slow down your browser. </p>
    <pre class="se-code">
                <code>
            :root{
                --warning: #ec7a08;
                --text-base: #333;
                --myPadding: 1em;
                --myMargin: 2em;
                --myBorder: solid 2px black;
                }

            #aaa{background: var(--warning);}
            #bbb{color: var(--text-base);}
            #ccc{padding: var(--myPadding);}
            #abc{margin: var(--myMargin);}
            #cba{border: var(--myBorder);}
                </code>
    </pre>
</section>
<section>
    <h3 id="Grid">Grid Layout</h3>
    <p>A css grid is defined using the grid values column and row. <br>
    You can decide yourself how large a grid you want, <br>
    and it makes it alot easier to place elements where you want on the document. <br>
    And if you feel the need for it you can have a grid inside a grid inside a grid and so on.. </p>
    <dl>
    <dt><strong>here are some examples:</strong></dt>
    <dt>first grid</dt>
    <dd>In the first example i use a 2x3 grid, <br>
     and just add 6 divs to take up equal space inside the grid.</dd>
    <div class="se-box-demo">
        <div class="se-grid-demo">
            <div class="colr">1</div>
            <div class="colr1">2</div>
            <div class="colr2">3</div>
            <div class="colr3">4</div>
            <div class="colr4">5</div>
            <div class="colr5">6</div>
        </div>
    </div>
    <dt>second grid</dt>
    <dd>in the second example i use a 6x6 grid, and grid-area cordinates to decide what goes where. <br>
     So we get a navbar who takes up all of the upper area of the grid. <br>
     Then we got the main section who takes up all the space except the navbar and footer area. <br>
     And the footer takes up all of the lower area of the grid. <br>
     This is a good and easy way to start a page layout.</dd>
    <div class="se-box1-demo">
        <div class="se-grid1-demo">
            <div class="se-nav-demo colr">navbar</div>
            <div class="se-main-demo colr1">main section</div>
            <div class="se-footer-demo colr2">footer</div>
        </div>
    </div>
    </dl>
</section>
<section>
    <h3 id="FlexBox">FlexBox</h3>
    <p>Flexbox also called CSS FLexible Box Layout Module. It's ment for displaying elements in a singel dimension, <br>
    as a row or column. You can easily control where the elements should end up, <br>
    using justify and align classes. Key feature in flex is that elements can grow and shrink. <br>
    You can assign space to the elements themselves or distribute space evenly between and around the elements.</p>
    <dl>
    <dt>first</dt>
    <dd>On the first set of elements we use justify-evenly, to get even space around all the elements in the flex container.</dd>
    </dl>
    <div class="se-box-model se-demo-border se-justify-evenly ">
        <div class="se-demo-box colr">first</div>
        <div class="se-demo-box colr">first</div>
        <div class="se-demo-box colr">first</div>
        <div class="se-demo-box colr">first</div>
        <div class="se-demo-box colr">first</div>
    </div>
    <dl>
    <dt>second</dt>
    <dd>On the second set of elements we use justify-around, <br>
     to get even space between the start and end element in the in the flex container, <br>
    and even space between the rest of the elements.</dd>
    </dl>
    <div class="se-box-model se-demo-border se-justify-around ">
        <div class="se-demo-box colr">second</div>
        <div class="se-demo-box colr">second</div>
        <div class="se-demo-box colr">second</div>
        <div class="se-demo-box colr">second</div>
        <div class="se-demo-box colr">second</div>
    </div>
    <dl>
    <dt>third</dt>
    <dd>On the third set of elements we use justify-between, <br>
     aligns elements from the start of the flex container to the end of the container with equal space between.</dd>
    </dl>
    <div class="se-box-model se-demo-border se-justify-between ">
        <div class="se-demo-box colr">third</div>
        <div class="se-demo-box colr">third</div>
        <div class="se-demo-box colr">third</div>
        <div class="se-demo-box colr">third</div>
        <div class="se-demo-box colr">third</div>
    </div>
    <dl>
    <dt>fourth</dt>
    <dd>On the fourth set of elements we use justify-center, <br>
     to line up all the elements in the center of the flex container.</dd>
    </dl>
    <div class="se-box-model se-demo-border se-justify-center se-demo-margin-bottom">
        <div class="se-demo-box colr">fourth</div>
        <div class="se-demo-box colr">fourth</div>
        <div class="se-demo-box colr">fourth</div>
        <div class="se-demo-box colr">fourth</div>
        <div class="se-demo-box colr">fourth</div>
    </div>
</section>
<section>
<h3 id="Animations">Animations</h3>
<dl>
<dt>@keyframes</dt>
<dd>Is a location on a timeline which specifies the start and end of an transition.</dd>
<dt>transition</dt>
<dd>Allows you to change property values smoothly from one value to another, over a given duration.</dd>
<dt>animation</dt>
<dd>Lets an element change from one style to another, you must first specify some keyframes for the animation.</dd>
</dl>
<h3 class="se-sliding-middleOut">This is an transition</h3>
<h3>Here are 2 animations:</h3>
<div class="se-element"></div>
<div class="se-bakgrunn"></div>
</section>

