<h1 class="se-flex se-justify-center">Git</h1>

<section>
<h3 id="Overview">Overview</h3>
<p>Git is needed for version control and to save your projects in the cloud. <br>
   That means you dont have to save all your work on just your computer, <br>
   and you can access it from any other computer you use. Or if you are working on a project with someone, <br>
   you can all access the same project and work on it together from the cloud.
</p> 
</section>
<section>
<h3 id="Routines">Routines</h3>
<p>I start by making a new project on GitHub or GitLab, in this case GitLab. <br>
If its not my project, i fork it from Github/GitLab first <br>
Then i clone it to mye computer and editor, by using the command line. <br>
Green command line is my project, <br> Red command line is when you work on someone elses project.
</p>
<pre class="se-terminal">
            <code>
        &lt;# git clone https://gitlab.com/gitlab-username/project-name.git&gt;
            </code>
        </pre>
        <pre class="se-terminal1">
            <code>
        &lt;# git clone https://gitlab.com/gitlab-username/project-name.git&gt;
            </code>
        </pre>
  <p>Then we are ready to work in our editor. <br>
  First lets make a branch we can do our work in, so we dont pollute our master branch.</p> 
  <pre class="se-terminal">
            <code>
        &lt;# git pull&gt;
        &lt;# git checkout -b &lt;myBranch name&gt; &gt;
        &lt;# git rebase master&gt;
        &lt;# git push --set-upstream origin &lt;myBranch&gt; &gt;

            </code>
        </pre>
        <pre class="se-terminal1">
            <code>
        &lt;# git pull upstream master:master&gt;
        &lt;# git checkout -b &lt;myBranch name&gt; &gt;
        &lt;# git rebase master&gt;
        &lt;# git push --set-upstream origin &lt;myBranch&gt; &gt;
            </code>
        </pre>
    <p>Now when you have written your code its time to commit and push it to Gitlab.</p>
     <pre class="se-terminal">
            <code>
        &lt;# git commit -m "added html code to index.html"&gt;
        &lt;# git push&gt;
            </code>
        </pre>
        <pre class="se-terminal1">
            <code>
        &lt;# git commit -m "added html code to index.html"&gt;
        &lt;# git push&gt;
            </code>
        </pre>
    <p>Then you go to Github/Gitlab and create a pull request, <br>
    if merge conflicts resolve them and merge the work into your Project. <br>
    Then head back into the editor. </p>            
    <pre class="se-terminal">
            <code>
        &lt;# git checkout master&gt;
        &lt;# git pull&gt;
        &lt;# git checkout &lt;myBranch&gt;
        &lt;# git rebase master&gt;
        &lt;# git push&gt;
            </code>
        </pre>
        <pre class="se-terminal1">
            <code>
        &lt;# git checkout master&gt;
        &lt;# git pull&gt;
        &lt;# git checkout &lt;myBranch&gt;
        &lt;# git rebase master&gt;
        &lt;# git push&gt;
            </code>
        </pre>
    <p>Now you can continue to code, then rinse and repeat.</p>

</section>
<section>
<h3 id="Functions">Functions</h3>
<dl>
    <dt>Init</dt>
    <dd>initializes a new project or reinitialize an exisisting project.</dd>
    <dt>Clone</dt>
    <dd>Clone downloads your project in its entirety from an remote repository.</dd>
    <dt>Status</dt>
    <dd>Shows the working the status in the project.</dd>
    <dt>Fetch</dt>
    <dd>Gives you the status on the off-site repository, forexample if you are infront or behind.</dd>
    <dt>Pull</dt>
    <dd>downloads the current version from remote repository to your master.</dd>
    <dt>Checkout</dt>
    <dd> It is used to create new branches, also used when switching between branches.</dd>
    <dt>Commit</dt>
    <dd>Record your changes to the repository.</dd>
    <dt>Push</dt>
    <dd>pushes newly done work and commits to remote repository.</dd>
    <dt>Branch</dt>
    <dd>List all branches in the repository and see what branch you are currently working on, also how to delete branches.</dd>
    <dt>Rebase</dt>
    <dd>Sets the branch to the state of master branch and reapply your commits on top of it.</dd>
    <dt>Remote</dt>
    <dd>Lets you view connections to other repositories.</dd>
    <dt>Add</dt>
    <dd>Stages files.</dd>
    <dt>Reset</dt>
    <dd>Reset local copy to the most recent remote repository state.</dd>
    <dt>Stash</dt>
    <dd>Stash the changes in a dirty working directory away.</dd>
    <dt>merge</dt>
    <dd>Is used to combine two or more branches together.</dd>
    <dt>Blame</dt>
    <dd>Tells you who wrote a particular line in the terminal.</dd>
    <dt>config</dt>
    <dd>Get/sets repository options</dd>
</dl>
</section>