 <div class="se-custom-Table-container se-mt-2 se-border-1 ">
    <table class="se-tables se-background1 se-custom-table-position">
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Country</th>
      </tr>
      <tr>
        <td class="se-table-row-padding-05">Cato</td>
        <td>33</td>
        <td>Norway</td>
      </tr>
      <tr>
        <td class="test">Ken</td>
        <td>40</td>
        <td>Norway</td>
      </tr>
      <tr>
        <td class="se-table-row-padding-2">Paul</td>
        <td>23</td>
        <td>Norway</td>
      </tr>
    </table>
   