<h2>Show Post</h2>

<ul>

  <li>
    <strong>Header:</strong>
    <%= @post.header %>
  </li>

  <li>
    <strong>Content:</strong>
    <%= @post.content %>
  </li>

</ul>


<span><%= link "Edit", to: post_path(@conn, :edit, @post) %></span>
<span><%= link "Back", to: post_path(@conn, :index) %></span>
