<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :email, class: "control-label" %>
    <%= text_input f, :email, class: "form-control" %>
    <%= error_tag f, :email %>
  </div>

  <div class="form-group">
    <%= label f, :encrypted_password, class: "control-label" %>
    <%= text_input f, :encrypted_password, class: "form-control" %>
    <%= error_tag f, :encrypted_password %>
  </div>

  <div class="form-group">
    <%= label f, :alias, class: "control-label" %>
    <%= text_input f, :alias, class: "form-control" %>
    <%= error_tag f, :alias %>
  </div>

  <div class="form-group">
    <%= label f, :avatar, class: "control-label" %>
    <%= text_input f, :avatar, class: "form-control" %>
    <%= error_tag f, :avatar %>
  </div>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
