<h2>Show User</h2>

<ul>

  <li>
    <strong>Email:</strong>
    <%= @user.email %>
  </li>
  <li>
    <strong>Alias:</strong>
    <%= @user.alias %>
    </li>
    <li>
    <strong>Country:</strong>
    <%=  @user.country.country%>
    </li>
    <%# <%= for country <- @user.country do%>
      <%# <%= country.country%> 
      <%# <% end %>
  
</ul>
<ul>
<h2>Post</h2>
<%= for post <- @user.posts do %>
  <li>
  <strong>Header:</strong>
  <%= post.header%>
  </li>
  <li>
  <strong>Content:</strong>
   <%= post.content %>
   </li>
  <% end %>
</ul>

<span><%= link "Edit", to: user_path(@conn, :edit, @user) %></span>
<span><%= link "Back", to: user_path(@conn, :index) %></span>
